{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-migrationtoolkit{% endset %}
{% block postinstall %}
## Initial configuration
Before invoking Migration Toolkit, you must download and install a freely available source-specific driver. To download a driver, or for a link to a vendor download site, see the [Third Party JDBC Drivers](https://www.enterprisedb.com/software-downloads-postgres#third-party-jdbc-drivers) on the Downloads page.

After downloading the source-specific driver, move the driver file into the `<mtk_install_dir>/lib` directory.
{% endblock postinstall %} 
