{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-oci{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: ocl_connector/{{ product.version }}/installing/linux_{{platform.arch}}/ocl_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - ocl_connector/{{ product.version }}/04_open_client_library/01_installing_and_configuring_the_ocl_connector/install_on_linux_using_edb_repo/{{deploy.expand_arch[platform.arch]}}/mongo_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace("_64", "")}}.mdx
{% endblock frontmatter %}

{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

{% endblock prodprereq %}

{% block installCommand %}
```shell
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}{{ packageDevSuffix }}
```
{% endblock installCommand %}