{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-oci{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

{% endblock prodprereq %}
