{% extends "products/edb-ocl-connector/base.njk" %}
{% block odbcconnector %}
```shell
sudo apt-get install {{ packageName }}
sudo apt-get install {{ packageName }}-dev
```
{% endblock odbcconnector %}