{% extends "platformBase/index.njk" %}
{% set productShortname="ocl" %}

{% block frontmatter %}
deployPath: ocl_connector/{{ product.version }}/installing/index.mdx
redirects:
  - /ocl_connector/latest/04_open_client_library/01_installing_and_configuring_the_ocl_connector/
  - /ocl_connector/latest/04_open_client_library/01_installing_and_configuring_the_ocl_connector/install_on_linux_using_edb_repo/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- upgrading
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
