{% extends "products/edb-ocl-connector/ubuntu.njk" %}
{% set platformBaseTemplate = "ubuntu-22.04" %}
{% set osFilenamePart="ubuntu_22" %}
{% block frontmatter %}
{# remove this block when Ubuntu 22 is released #}
{% endblock frontmatter %}