{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-efm<4x>{% endset %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}
```
Where <4x> is the version of Failover Manager you are installing.
{% endblock installCommand %}
{% block postinstallMenu %}-   [Initial configuration](#initial-configuration){% endblock postinstallMenu %}
{% block postinstall %}
## Initial configuration

If you are using Failover Manager to monitor a cluster owned by a user other than enterprisedb or postgres, see [Extending Failover Manager permissions](04_configuring_efm/04_extending_efm_permissions/#extending_efm_permissions).

After installing on each node of the cluster:

1.  Modify the [cluster properties file](04_configuring_efm/01_cluster_properties/#cluster_properties) on each node..
2.  Modify the [cluster members file](04_configuring_efm/03_cluster_members/#cluster_members) on each node.
3.  If applicable, configure and test virtual IP address settings and any scripts that are identified in the cluster properties file.
4.  Start the agent on each node of the cluster. For more information, see [Controlling the Failover Manager service](08_controlling_efm_service/#controlling-the-failover-manager-service).
{% endblock postinstall %} 