{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-efm<4x>{% endset %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}
```
Where <4x> is the version of Failover Manager you are installing.
{% endblock installCommand %}