{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-efm{{ product.version | replace(".", "") }}{% endset %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}<4x>
```
Where <4x> is the version of Failover Manager you are installing.
{% endblock installCommand %}