{% extends "products/failover-manager/base.njk" %}
{% set platformBaseTemplate = "centos-7" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}