
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="efm" %}

{% block frontmatter %}
{{ super() }}
redirects: 
 - /efm/latest/03_installing_efm/ibm_power_ppc64le/
{% endblock frontmatter %}
