
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="efm" %}

{% block frontmatter %}
{{ super() }}
redirects: 
 - /efm/latest/03_installing_efm/x86_amd64/
{% endblock frontmatter %}
