{% extends "platformBase/index.njk" %}
{% set productShortname="edb-tde-rest-client" %}

{% block frontmatter %}
deployPath: tde/{{ product.version }}/secure_key/key_store/thales/installing_thales_client/index.mdx
indexCards: none
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
{% endblock navigation %}