
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edb-tde-rest-client" %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/platforms-and-tools/security/tde/secure_key/key_store/thales/installing_thales_client/linux_x86_64/index.mdx
indexCards: none
{% endblock frontmatter %}
