
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edb-tde-rest-client" %}

{% block frontmatter %}
deployPath: tde/{{ product.version }}/secure_key/key_store/thales/installing_thales_client/linux_x86_64/index.mdx
indexCards: none
{% endblock frontmatter %}
