{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pgpool<xx>{% endset %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB PgPool-II you are installing.
{% endblock installCommand %}