{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pgpool<xx>{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% include "platformBase/_login.njk" %}
{% endblock prodprereq %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB PgPool-II you are installing. For example, if you are installing version 4.3, the package name would be `edb-pgpool43`.

{% endblock installCommand %}