{% extends "products/edb-pgpool-ii/base.njk" %}
{% block installCommand %}
{{super()}}
After installing EDB Pgpool-II on a Debian host, the configuration files are located in the /etc/edb/edb-pgpool`<x.x>` directory, where `<x.x>` is the EDB Pgpool-II release version.
{% endblock installCommand %}