
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="pgpool" %}

{% block frontmatter %}
{{super()}}
redirects: 
  - /pgpool/latest/01_installing_and_configuring_the_pgpool-II/ibm_power_ppc64le/
{% endblock frontmatter %}
