{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="jdbc" %}

{% block frontmatter %}
deployPath: jdbc_connector/{{ product.version }}/installing/linux_arm64/index.mdx
{% endblock frontmatter %}
