{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-jdbc{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}
- Review [Supported JDBC distributions](/jdbc_connector/latest/02_requirements_overview/#supported-jdk-distribution).

{% endblock prodprereq %}
{% block postinstallMenu %}-   [Initial configuration](#initial-configuration){% endblock postinstallMenu %}
