{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-jdbc{% endset %}
{% block postinstallMenu %}-   [Initial configuration](#initial-configuration){% endblock postinstallMenu %}
{% block postinstall %}
## Initial configuration

To make the JDBC driver available to Java, you must either copy the appropriate java `.jar` file for the JDBC version that you are using to your `$java_home/jre/lib/ext` directory or append the location of the `.jar` file to the `CLASSPATH` environment variable.

Note that if you choose to append the location of the `jar` file to the `CLASSPATH` environment variable, you must include the complete pathname:

 `/usr/edb/jdbc/edb-jdbc18.jar`

{% endblock postinstall %} 