{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-jdbc{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

- Ensure that Java is installed on your system. You can download a Java installer that matches your environment from the Oracle Java Downloads [website](http://www.oracle.com/technetwork/java/javase/downloads/index.html). Documentation that contains detailed installation instructions is available through the associated `Installation Instruction` links on the same page.

- Review [Supported JDBC distributions](/jdbc_connector/latest/02_requirements_overview/#supported-jdk-distribution).

{% endblock prodprereq %}
{% block postinstallMenu %}-   [Initial configuration](#initial-configuration){% endblock postinstallMenu %}
