
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="jdbc" %}

{% block frontmatter %}
deployPath: jdbc_connector/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects: 
  - /jdbc_connector/latest/04_installing_and_configuring_the_jdbc_connector/01_installing_the_connector_with_an_rpm_package/x86_amd64/
{% endblock frontmatter %}
