1. Initialize the database cluster:

   ```sh
   PGSETUP_INITDB_OPTIONS="-E UTF-8" /usr/edb/as{{ product.version }}/bin/edb-as-{{ product.version | replace(".", "") }}-setup initdb
   ```

1. Start the database cluster:

   ```sh
   systemctl start edb-as-{{ product.version }}
   ```
