{
  "ark": true,
  "bart": true,
  "efm": true,
  "epas": true,
  "eprs": true,
  "hadoop_data_adapter": true,
  "jdbc_connector": true,
  "migration_portal": true,
  "migration_toolkit": true,
  "mongo_data_adapter": true,
  "mysql_data_adapter": true,
  "net_connector": true,
  "ocl_connector": true,
  "odbc_connector": true,
  "pem": true,
  "pgbouncer": true,
  "pgpool": true,
  "postgis": true,
  "slony": true,
  "edbcloud": true
}
