{
  "k8s_docs": true,
  "barman": true,
  "pgbackrest": true,
  "ark": true,
  "bart": true,
  "efm": true,
  "epas": true,
  "hadoop_data_adapter": true,
  "jdbc_connector": true,
  "migration_portal": true,
  "migration_toolkit": true,
  "net_connector": true,
  "ocl_connector": true,
  "odbc_connector": true,
  "pem": true,
  "pgbouncer": true,
  "pgpool": true,
  "postgis": true,
  "slony": true
}
