{% extends "products/mysql_foreign_data_wrapper/base.njk" %}
{% set platformBaseTemplate = "sles_12" %}
{% block prerequisites %}
Setting up the repository is a one time task. If you have already set up your repository, you do not need to perform these steps.
```shell
# Install the repository configuration and enter your EDB repository
# credentials when prompted
zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo

# Install SUSEConnect to register the host with SUSE, allowing access 
# to SUSE repositories
zypper install SUSEConnect

# Register the host with SUSE, allowing access to SUSE repositories
# Replace 'REGISTRATION_CODE' and 'EMAIL' with your SUSE 
# registration information
SUSEConnect -r 'REGISTRATION_CODE' -e 'EMAIL'

# Activate the required SUSE modules
SUSEConnect -p PackageHub/12.5/ppc64le
SUSEConnect -p sle-sdk/12.5/ppc64le

# Refresh the metadata
zypper refresh
```
{% endblock prerequisites %}
