
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="edbplus" %}

{% block frontmatter %}
deployPath: edb_plus/{{ product.version }}/installing/linux_arm64/index.mdx
{% endblock frontmatter %}
