{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as<xx>-edbplus{% endset %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB Postgres Advanced Server.
{% endblock installCommand %}