{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as{{ product.version | replace(".", "") }}-edbplus{% endset %}
{% block postinstallMenu %}-   [Initial configuration](#initial-configuration){% endblock postinstallMenu %}
{% block postinstall %}
## Initial configuration

After performing an RPM installation of EDB\*Plus, you must set the values of environment variables that allow EDB\*Plus to locate your Java installation. Use the following commands to set variable values:

```text
export JAVA_HOME=<path_to_java>
export PATH=<path_to_java>/bin:$PATH
```

By default, the `pg_hba.conf` file for the RPM installer enforces `IDENT` authentication. Before invoking EDB\*Plus, you must either modify the `pg_hba.conf` file, changing the authentication method to a form other than `IDENT` (and restarting the server), or perform the following steps to ensure that an `IDENT` server is accessible:

You must confirm that an `identd` server is installed and running. You can use the `yum` package manager to install an `identd` server by invoking the command:

-   On RHEL or CentOS 7:

    ```text
    yum -y install xinetd authd
    ```

-   On RHEL/Rocky Linux/AlmaLinux 8:

    ```text
    dnf -y install xinetd authd
    ```

The command should create a file named `/etc/xinetd.d/auth` that contains:

```text
service auth
{
     disable = yes
     socket_type = stream
wait =no
user = ident
cps = 4096 10
instances = UNLIMITED
server = /usr/sbin/in.authd server_args = -t60 --xerror –os
}
```

!!! Note
    If the file includes a `-E` argument at the end of the server arguments, please erase `-E`.

Then, to start the `identd` server, invoke the following commands:

```text
systemctl enable xinetd
systemctl start xinetd
```

Open the `pg_ident.conf` file and create a user mapping:

```text
# map_name    system_username     postgres_username
  edbas         enterprisedb        enterprisedb
```

Where:

-   The name specified in the `map_name` column is a user-defined name that will identify the mapping in the `pg_hba.conf` file.
-   The name specified in the `system_username` column is `enterprisedb`.
-   The name specified in the `postgres_username` column is `enterprisedb`.

Then, open the `pg_hba.conf` file and modify the `IDENT` entries:

-   If you are using an IPv4 local connection, modify the file entry to read:

     `host all all 127.0.0.0/0 ident map=edbas`

-   If you are using an IPv6 local connection, modify the file entry to read:

     `host all all ::1/128 ident map=edbas`

You must restart the Advanced Server service before invoking EDB\*Plus. For detailed information about controlling the Advanced Server service, see the *EDB Postgres Advanced Server Installation Guide*, available at:

[https://www.enterprisedb.com/docs](/epas/latest/)

## Using the Graphical Installer

Graphical installers for EDB\*Plus are available via StackBuilder Plus; you can access StackBuilder Plus through your Windows or Linux start menu. After opening StackBuilder Plus and selecting the installation for which you wish to install EDB\*Plus, expand the component selection screen tree control to select and download the EDB\*Plus installer.

![The EDBPlus Welcome window](images/edb_plus_welcome.png)

<div style="text-align: center"> Fig. 1: The EDB*Plus Welcome window </div>

The EDB\*Plus installer welcomes you to the setup wizard, as shown in the figure below.

![The Installation Directory window](images/installation_directory.png)

<div style="text-align: center"> Fig. 2: The Installation Directory window </div>

Use the `Installation Directory` field to specify the directory in which you wish to install the EDB\*Plus software. Then, click `Next` to continue.

![The Advanced Server Installation Details window](images/advanced_server_installation_details.png)

<div style="text-align: center"> Fig. 3: The Advanced Server Installation Details window </div>

Use fields on the `EDB Postgres Advanced Server Installation Details` window to identify the location of the Advanced Server host:

-   Use the `Host` field to identify the system on which Advanced Server resides.
-   Use the `Port` field to identify the listener port that Advanced Server monitors for client connections.

Then, click `Next` to continue.

![The Ready to Install window](images/ready_to_install.png)

<div style="text-align: center"> Fig. 4: The Ready to Install window </div>

The `Ready to Install` window notifies you when the installer has all of the information needed to install EDB\*Plus on your system. Click `Next` to install EDB\*Plus.

![The installation is complete](images/installation_complete.png)

<div style="text-align: center"> Fig. 5: The installation is complete </div>

The installer notifies you when the setup wizard has completed the EDB\*Plus installation. Click `Finish` to exit the installer.

{% endblock postinstall %} 