{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as<xx>-edbplus{% endset %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB Postgres Advanced Server. For example, if you are installing with version 14 of EDB Postgres Advanced Server, the package name would be `edb-as14-edbplus`.
{% endblock installCommand %}
{% block postinstall %}
## Initial configuration

After performing a Linux installation of EDB\*Plus, you must set the values of environment variables that allow EDB\*Plus to locate your Java installation:

```shell
export JAVA_HOME=<path_to_java>
export PATH=<path_to_java>/bin:$PATH
```
{% endblock postinstall %}