{% extends "platformBase/index.njk" %}
{% set productShortname="edbplus" %}

{% block frontmatter %}
deployPath: edb_plus/{{ product.version }}/installing/index.mdx
redirects:
 - /edb_plus/latest/03_installing_edb_plus/
 - /edb_plus/latest/03_installing_edb_plus/install_on_linux/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- configuring_linux_installation
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
