
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="edbplus" %}

{% block frontmatter %}
deployPath: edb_plus/{{ product.version }}/installing/linux_ppc64le/index.mdx
redirects:
 - /edb_plus/latest/03_installing_edb_plus/install_on_linux/ibm_power_ppc64le/
{% endblock frontmatter %}
