
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edbplus" %}

{% block frontmatter %}
deployPath: edb_plus/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects:
 - /edb_plus/latest/03_installing_edb_plus/install_on_linux/x86_amd64/
{% endblock frontmatter %}
