{% extends "platformBase/" + platformBaseTemplate + '.njk' %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: pge/{{ product.version }}/installing/linux_{{platform.arch}}/pge_{{deploy.map_platform[platform.name]}}.mdx
redirects:
{% endblock frontmatter %}

{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% endblock prodprereq %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB Postgres Extended Server you are installing. For example, if you are installing version 15, the package name would be `edb-postgresextended15`.

{% endblock installCommand %}