{% extends "products/edb-postgres-extended-server/debian.njk" %}
{% set platformBaseTemplate = "debian-11" %}
{% set packageName %}edb-postgresextended-<xx>{% endset %}
{% block installCommand %}
```shell
sudo {{ packageManager }} {{ packageManagerNoninteractive }} install {{ packageName }}
```

Where `<xx>` is the version of EDB Postgres Extended Server you are installing. For example, if you are installing version 15, the package name would be `edb-postgresextended-15`.

{% endblock installCommand %}
