{% extends "platformBase/index.njk" %}
{% set productShortname="pge" %}

{% block frontmatter %}
{{super()}}
{% endblock frontmatter %}
{% block navigation %}
{{- super() -}}
{% endblock navigation %}

