{% extends "platformBase/index.njk" %}
{% set productShortname="pge" %}

{% block frontmatter %}
{{super()}}
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
{% endblock navigation %}

