{% extends "platformBase/index.njk" %}
{% set productShortname="pge" %}

{% block frontmatter %}
{{super()}}
description: Installation instructions for EDB Postgres Extended Server on Linux.
{% endblock frontmatter %}
{% block navigation %}
{{- super() -}}
{% endblock navigation %}

