{% extends "products/edb-postgres-extended-server/base.njk" %}
{% set platformBaseTemplate = "rhel-7-or-ol-7" %}
{% set packageName %}edb-postgresextended<xx>{% endset %}
{% block installCommand %}
{{ super() }}
{% endblock installCommand %}