{% extends "products/edb-postgres-extended-server/rhel-7-or-ol-7.njk" %}
{% set includePPC = true %}
{% set packageName %}edb-postgresextended<xx>{% endset %}
{% block installCommand %}
{{ super() }}
{% endblock installCommand %}