{% extends "products/edb-postgres-extended-server/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set packageManager = "zypper" %}
{% block prerequisites %}
{{super()}}
- Enable the required development SUSE modules:
  ```shell
  sudo SUSEConnect -p sle-module-desktop-applications/15.7/{{ platform.arch }}
  sudo SUSEConnect -p sle-module-development-tools/15.7/{{platform.arch}}
  ```
{% endblock prerequisites %}