{% extends "products/edb-postgres-extended-server/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% set packageManager = "zypper" %}
{% set packageName %}edb-postgresextended<xx>-server edb-postgresextended<xx>-contrib{% endset %}