{% extends "products/edb-postgres-extended-server/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set packageManager = "zypper" %}
{% set packageName %}edb-postgresextended<xx>-server edb-postgresextended<xx>-contrib{% endset %}
