{% extends "products/edb-postgres-extended-server/base.njk" %}
{% block debian_ubuntu %}
This section steps you through getting started with your cluster including logging in, ensuring the installation was successful, connecting to your cluster, and creating the user password.

First, you need to initialize and start the database cluster. The `edb-pge-{{ product.version | replace(".", "") }}-setup` script creates a cluster.

```shell
sudo PGSETUP_INITDB_OPTIONS="-E UTF-8" /usr/lib/edb-pge/{{ product.version }}/bin/edb-pge-{{ product.version | replace(".", "") }}-setup initdb

sudo systemctl start edb-pge-{{ product.version }}
```

{% endblock debian_ubuntu %}