{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pgbouncer<xx>{% endset %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}
```
Where xx is the version of EDB PgBouncer you are installing.
{% endblock installCommand %}
