{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pgbouncer<xx>{% endset %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the version of EDB PgBouncer you are installing.

EDB PgBouncer will be installed in the `/usr/edb/pgbouncer<x.x>` directory.
{% endblock installCommand %}