{% extends "platformBase/index.njk" %}
{% set productShortname="pgbouncer" %}

{% block frontmatter %}
{{super()}}
redirects:
  - ../03_installing_pgbouncer_on_an_sles_host
  - ../01_installation
  - ../01_installation/install_on_linux/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
 