
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="pgbouncer" %}

{% block frontmatter %}
{{super()}}
redirects: 
  - ../../03a_installing_pgbouncer_on_a_rhel8_ppcle_host
  - /pgbouncer/latest/01_installation/install_on_linux/ibm_power_ppc64le/
{% endblock frontmatter %}
