
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="pgbouncer" %}

{% block frontmatter %}
{{super()}}
redirects: 
  - ../../02_installing_pgbouncer_on_a_debian_or_ubuntu_host/
  - /pgbouncer/latest/01_installation/install_on_linux/x86_amd64/
{% endblock frontmatter %}
