{% extends "products/postgresql/base.njk" %}
{% set platformBaseTemplate = "almalinux-8-or-rocky-linux-8" %}
{% set packageManager = "dnf" %}
{% block prerequisites %}
{{ super() }}
- Enable additional repositories to resolve dependencies
  ```shell
  dnf config-manager --set-enabled powertools
  ```
- Disable the built-in PostgreSQL module
  ```shell
  dnf -qy module disable postgresql 
  ```
{% endblock prerequisites %}
