{% extends "products/postgresql/base.njk" %}
{% set platformBaseTemplate = "almalinux-8-or-rocky-linux-8" %}
{% set packageManager = "dnf" %}
{% block prerequisites %}
{{ super() }}
- Disable the built-in PostgreSQL module:
  ```shell
  sudo dnf -qy module disable postgresql 
  ```
{% endblock prerequisites %}
