
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="postgresql" %}

{% block frontmatter %}
deployPath: advocacy_docs/supported-open-source/postgresql/installing/linux_arm64/index.mdx
indexCards: none
{% endblock frontmatter %}
