{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName = packageName or 'postgresql<xx>-server postgresql<xx>-contrib' %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: postgresql/{{ product.version }}/installing/linux_{{platform.arch}}/postgresql_{{deploy.map_platform[platform.name]}}.mdx
{% endblock frontmatter %}

{% block installCommand %}
{{super()}}
Where `<xx>` is the version of PostgreSQL you are installing. For example, if you are installing version {{ product.version }}, the package name would be `{{packageName | replace('<xx>', product.version)}}`.

{% endblock installCommand %}