{% extends "platformBase/index.njk" %}
{% set productShortname="postgresql" %}

{% block title %}
navTitle: Installing
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
deployPath: postgresql/{{ product.version }}/installing/index.mdx
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- macos
- command_line_parameters
{% endblock navigation %}

{% block otherosinstall %}
## Macintosh
- [Mac OS X](macos)

## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}