
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="postgresql" %}

{% block frontmatter %}
deployPath: advocacy_docs/supported-open-source/postgresql/installing/linux_ppc64le/index.mdx
{% endblock frontmatter %}
