{% extends "products/postgresql/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block prerequisites %}
{{ super() }}
- Enable additional repositories to resolve dependencies
  ```shell
  ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"
  ```
{% endblock prerequisites %}