{% extends "products/postgresql/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set packageName %}postgresql<xx>-server{% endset %}
{% block installCommand %}
{{super()}}
Optionally, enable the development SUSE modules only if required:
  
```shell
sudo SUSEConnect -p sle-module-desktop-applications/15.7/{{ platform.arch }}
sudo SUSEConnect -p sle-module-development-tools/15.7/{{platform.arch}}
sudo zypper install postgresql{{ product.version }}-devel
```
{% endblock installCommand %}

