
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="postgresql" %}

{% block frontmatter %}
deployPath: advocacy_docs/supported-open-source/postgresql/installing/linux_x86_64/index.mdx
{% endblock frontmatter %}
