{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName = packageName or 'cdcreader=-1.4-1.4766136665.17.1.jammy' %}
{% set writerPackageName = writerPackageName or 'cdcwriter=1.3-1.4766201953.4.1.jammy' %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: transporter/{{ product.version }}/installing/linux_{{platform.arch}}/transporter_{{deploy.map_platform[platform.name]}}.mdx
{% endblock frontmatter %}

{% block installCommand %}
Install CDCReader:
```shell
sudo {{packageManager}} install {{ packageName }}
```

Install CDCWriter:
```shell
sudo {{packageManager}} install {{ writerPackageName }}
```
{% endblock installCommand %}
