{% extends "platformBase/index.njk" %}
{% set productShortname="transporter" %}

{% block frontmatter %}
{{ super() }}
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
{% endblock navigation %}
