{% extends "products/edb-transporter/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% set packageName %}cdcreader-1.4-1.4766136665.17.1.el8.x86_64{% endset %}
{% set writerPackageName %}cdcwriter-1.3-1.4766201953.4.1.el8.x86_64{% endset %}
{% block prerequisites %}{% endblock prerequisites %}