{% extends "products/edb-transporter/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set packageManager = "zypper" %}
{% set packageName %}cdcreader-1.4-1.4766136665.17.1.el8.x86_64{% endset %}
