---
title: CVE Title
navTitle: CVE ID as CVE-Year-Number
---

First Published: MM/DD/YYYY

Last Updated: MM/DD/YYYY

## Summary 

SUMMARY

## Vulnerability details

CVE-ID:  LINK TO ID

CVSS Base Score: SCORE

CVSS Temporal Score: TEMPORAL SCORE

CVSS Environmental Score: ENVIRONMENTAL SCORE

CVSS Vector: VECTOR

## Affected products and versions

* LIST OF AFFECTED PRODUCTS

## Remediation/fixes

| Product | VRMF | Remediation/First Fix |
|---------|------|-----------------------|
| PRODUCT | VERSION | REMEDIATION |

!!! Note Update
OPTIONAL UPDATE NOTE
!!!

## References

* [https://www.first.org/cvss/calculator/3.1](https://www.first.org/cvss/calculator/3.1)
* LINKS TO REFERENCES


## Related Information

* [EnterpriseDB](https://www.enterprisedb.com/)
* LINKS TO OTHER RELATED INFORMATION
* [EDB Blogs Link]()
* [EDB Security Trust Center Link (or wherever the advisory is published)]()

## Acknowledgement

Source: SOURCE

## Change history

DD mmmm YYYY: ACTION

## Disclaimer

Legal can put any disclaimer they would like here
