// Template must be uses as a row in a <table class="table-bordered">

<tr><td>
<details><summary><h3 style="display:inline">
<a href="advisories/CVENUMBERFORPAGE">CVENUMBER</a></h3>
<span>&nbsp;&nbsp;Updated: </span><span>UPDATED ISO8601 DATE</span>
<h4>CVE TITLE</h4>
<h5>AFFECTED</h5>
</summary>
<hr/>
<em>Summary:</em>&nbsp;
SUMMARY TEXT
<br/>
<a href="advisories/CVENUMBERFORPAGE">Read More...</a>
</details>
</td></tr>
