{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as-<xx>-pgpool<yy>-extensions{% endset %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the EDB Postgres Advanced Server version and `<yy>` is the EDB Pgpool-II version you are installing. For example, if you are installing EDB Pgpool-II version 4.0 and EDB Postgres Advanced Server version 13, the package name would be `edb-as-13-pgpool40-extensions`.
{% endblock installCommand %}
