{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as-<xx>-pgpool<yy>-extensions{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: pgpool/{{ product.version }}/installing_extensions/linux_{{platform.arch}}/pgpoolext_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - pgpool/{{ product.version }}/02_extensions/{{deploy.expand_arch[platform.arch]}}/pgpoolext_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% endblock prodprereq %}
{% block installCommand %}
{{super()}}
Where `<xx>` is the EDB Postgres Advanced Server version and `<yy>` is the EDB Pgpool-II version you are installing. For example, if you are installing EDB Pgpool-II version 4.3 and EDB Postgres Advanced Server version 14, the package name would be `edb-as-14-pgpool43-extensions`.
{% endblock installCommand %}
