
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="pgpoolext" %}

{% block frontmatter %}
deployPath: pgpool/{{ product.version }}/installing_extensions/linux_ppc64le/index.mdx
redirects: 
  - /pgpool/latest/02_extensions/ibm_power_ppc64le/
{% endblock frontmatter %}
