{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem{% endset %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: pem/{{ product.version }}/installing/linux_{{platform.arch}}/pem_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - pem/{{ product.version }}/installing_pem_server/pem_server_inst_linux/installing_pem_server_using_edb_repository/{{deploy.expand_arch[platform.arch]}}/pem_server_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block prodprereq %}{% endblock prodprereq %}{% block pemprereq %}{% endblock pemprereq %}{% block pemsetuprepo %}{% endblock pemsetuprepo %}
{% block postinstall %}
## Initial configuration

```shell
# You can configure the PEM server using the following command:
sudo /usr/edb/pem/bin/configure-pem-server.sh
```

For more details, see [Configuring the PEM server on Linux](/pem/latest/installing/configuring_the_pem_server_on_linux/).

!!! Note
    
    - The operating system user pem is created while installing the PEM server. The PEM server web application is a WSGI application, which runs under Apache HTTPD. The pem application data and the session is saved to this user's home directory.
{% endblock postinstall %}