{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem{% endset %}
{% block prodprereq %}
- Review the [prerequisites](/pem/latest/installing_pem_server/pem_server_inst_linux/prerequisites/).

{% endblock prodprereq %}{% block pemprereq %}{% endblock pemprereq %}{% block pemsetuprepo %}{% endblock pemsetuprepo %}
{% block postinstall %}
## Initial configuration

```shell
# You can configure the PEM server using the following command:
sudo /usr/edb/pem/bin/configure-pem-server.sh
```

For more details, see [Configuring the PEM server on Linux](/pem/latest/installing_pem_server/pem_server_inst_linux/configuring_the_pem_server_on_linux/).

!!! Note
    
    - The operating system user pem is created while installing the PEM server. The PEM server web application is a WSGI application, which runs under Apache HTTPD. The pem application data and the session is saved to this user's home directory.
{% endblock postinstall %}