{% extends "platformBase/index.njk" %}
{% set productShortname="pem" %}

{% block frontmatter %}
{{super()}}
redirects:
- /pem/latest/installing_pem_server/
- /pem/latest/installing_pem_server/pem_server_inst_linux/
{% endblock frontmatter %}
{% block navigation %}
- prerequisites
- linux_x86_64
- linux_ppc64le
- windows
- creating_pem_repository_in_isolated_network
- configuring_the_pem_server_on_linux
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
