{% extends "platformBase/index.njk" %}
{% set productShortname="pem" %}

{% block title %}
navTitle: Installing the PEM server
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
{{super()}}
redirects:
- /pem/{{ product.version if product.version < 9 else "latest" }}/pem_inst_guide_linux/04_installing_postgres_enterprise_manager/
- /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_server/
- /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_server/pem_server_inst_linux/
- /pem/{{ product.version }}/pem_inst_guide_linux/04_installing_postgres_enterprise_manager/03_installing_pem_server_using_edb_repository/03_pem_server_sles15_x86/
- /pem/{{ product.version }}/pem_inst_guide_linux/04_installing_postgres_enterprise_manager/03_installing_pem_server_using_edb_repository/04_pem_server_sles12_x86/

{% endblock frontmatter %}
{% block navigation %}
- prerequisites
- linux_x86_64
- linux_ppc64le
- windows
- creating_pem_repository_in_isolated_network
- configuring_the_pem_server_on_linux
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
