
{% extends "platformBase/ppc64le_index.njk" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}
{% set productShortname="pem" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_server/pem_server_inst_linux/installing_pem_server_using_edb_repository/ibm_power_ppc64le/
{% endblock frontmatter %}
{% block firewallCommand %}```shell
   firewall-cmd --permanent --zone=public --add-port=8443/tcp
         
   firewall-cmd --reload
   ```{% endblock firewallCommand %}
