
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="pem" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /pem/latest/installing_pem_server/pem_server_inst_linux/installing_pem_server_using_edb_repository/ibm_power_ppc64le/
{% endblock frontmatter %}
