{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% block prerequisites %}{% endblock prerequisites %}