{% extends "products/postgres-enterprise-manager-server/rhel-9-or-ol-9.njk" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
