{% extends "products/postgres-enterprise-manager-server/rhel-10-or-ol-10.njk" %}
{% set ssutilsName %}sslutils_<x> postgresql<x>-contrib{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}