
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% extends "products/postgres-enterprise-manager-server/rhel-8-or-ol-8.njk" %}
