
{% set ssutilsName %}sslutils_<x> postgresql<x>-contrib{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}
{% extends "products/postgres-enterprise-manager-server/rhel-8-or-ol-8.njk" %}
