{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "rhel-9-or-ol-9" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% block prerequisites %}{% endblock prerequisites %}
{% block firewallCommand %}```shell
   firewall-cmd --permanent --zone=public --add-port=8443/tcp
         
   firewall-cmd --reload
   ```{% endblock firewallCommand %}
