{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "rhel-7-or-ol-7" %}
{% block postinstall %}
{{ super() }}
-   If you're doing a fresh installation of the PEM server on a RHEL 7.x host, the installer also installs edb-python3-mod_wsgi packages with the installation required by the operating system.

-   If you're upgrading the PEM server on a RHEL 7.x host, the mod_wsgi system package is replaced by the edb-python3-mod_wsgi package as required by the operating system.
{% endblock postinstall %}