{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "rhel-9-or-ol-9" %}
{% set ssutilsName %}sslutils_<x> postgresql<x>-contrib{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}
{% block prerequisites %}{% endblock prerequisites %}
{% block firewallCommand %}```shell
   firewall-cmd --permanent --zone=public --add-port=8443/tcp
         
   firewall-cmd --reload
   ```{% endblock firewallCommand %}
{% block postinstall %}
{{super()}}
!!! Note Upgrading to PEM 10.3
If you come across libcurl errors while upgrading to 10.3 on RHEL 9 then use `--allowerasing` option with your package manager.
!!!
{% endblock postinstall %}
