
{% extends "platformBase/s390x_index.njk" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}
{% set productShortname="pem" %}

{% block firewallCommand %}```shell
   firewall-cmd --permanent --zone=public --add-port=8443/tcp

   firewall-cmd --reload
   ```{% endblock firewallCommand %}
