{% extends "products/postgres-enterprise-manager-server/sles-15.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set upgradeCommand = "update" %}
{% set ssutilsName %}sslutils_<x> postgresql<x>-contrib{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% set ssutilsExtendedFirstName %}edb-postgresextended<x>-sslutils{% endset %}
