{% extends "products/postgres-enterprise-manager-server/sles-12.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
