{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% block introductory_notes %}
!!! Note

    Postgres Enterprise Manager 8.3 and later is supported on SLES.
{% endblock introductory_notes %}
{% block activateSUSEmodule %}
# You can use SLES 15 SP3 for PEM 8.3 and later:
sudo SUSEConnect -p PackageHub/15.3/{{ platform.arch }}

# You can use SLES 15 SP4 for PEM 8.6 and later:
sudo SUSEConnect -p PackageHub/15.4/{{ platform.arch }}
{% endblock activateSUSEmodule %}
{% block repocheck %}
To determine if your repository exists, enter this command: 
  
`zypper lr -E | grep enterprisedb`
{% endblock repocheck %}
