{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block pemslesnote %}
!!! Note
    Postgres Enterprise Manager 8.3 and later is supported on SLES.
{% endblock pemslesnote %}
