{% extends "products/postgres-enterprise-manager-server/sles-15.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
