{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block introductory_notes %}
!!! Note

    Postgres Enterprise Manager 8.3 and later is supported on SLES.
    
{% endblock introductory_notes %}
{% block repocheck %}
To determine if your repository exists, enter this command: 
  
`zypper lr -E | grep enterprisedb`
{% endblock repocheck %}
