{% extends "products/postgres-enterprise-manager-server/sles-15.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set upgradeCommand = "update" %}
{% set ssutilsName %}edb-as<x>-server-sslutils{% endset %}
{% set ssutilsExtendedName %}edb-postgresextended<x>-contrib{% endset %}
{% block firewallCommand %}```shell
   firewall-cmd --permanent --zone=public --add-port=8443/tcp
         
   firewall-cmd --reload
   ```{% endblock firewallCommand %}