{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "ubuntu-22.04" %}
{% set upgradeCommand = "update" %}
{% block repocheck %}
To determine if your repository exists, enter this command: 
  
`apt-cache search enterprisedb`
{% endblock repocheck %}
{% block firewallDebianCommand %}```shell
   iptables -t filter -A INPUT -p TCP --dport 8443 -j ACCEPT
   ```{% endblock firewallDebianCommand %}

