{% extends "products/postgres-enterprise-manager-server/base.njk" %}
{% set platformBaseTemplate = "ubuntu-18.04" %}
{% block repocheck %}
To determine if your repository exists, enter this command: 
  
`apt-cache search enterprisedb`
{% endblock repocheck %}
