{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem{% endset %}
{% block postinstallMenu %}-   [Performing the initial configuration](#initial-configuration){% endblock postinstallMenu %}
{% block postinstall %}
## Initial configuration

```shell
# You can configure the PEM server using the following command:
/usr/edb/pem/bin/configure-pem-server.sh
```

For more details, see [Configuring the PEM Server on Linux](https://www.enterprisedb.com/docs/pem/latest/installing_pem_server/installing_on_linux/configuring_the_pem_server_on_linux/).
{% endblock postinstall %}