{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem{% endset %}
{% block postinstallMenu %}-   [Performing the initial configuration](#initial-configuration){% endblock postinstallMenu %}
{% block postinstall %}
## Initial configuration

```shell
# You can configure the PEM server using the following command:
/usr/edb/pem/bin/configure-pem-server.sh
```

For more details, see [Configuring the PEM Server on Linux](https://www.enterprisedb.com/docs/pem/latest/pem_inst_guide_linux/04_installing_postgres_enterprise_manager/05_configuring_the_pem_server_on_linux/).
{% endblock postinstall %}