node_modules/
# when ready to go live (before merging into develop) then uncomment this line and remove renders (and also add logic to copy these files to their intended destination)
renders/*
!renders/.gitkeep
.DS_Store
