{% set expand_arch = {
    ppcle: "ibm_power_ppc64le",
    x86: "x86_amd64",
    x86_64: "x86_amd64",
    ppc64le: "ibm_power_ppc64le"
  } 
%}
{% set map_platform_old = {
    "Debian 10": "deb10",
    "Debian 11": "deb11",
    "Ubuntu 18.04": "ubuntu18",
    "Ubuntu 20.04": "ubuntu20",
    "Ubuntu 22.04": "ubuntu22",
    "SLES 12": "sles12",
    "SLES 15": "sles15",
    "CentOS 7": "centos7",
    "AlmaLinux 8 or Rocky Linux 8": "other_linux8",
    "AlmaLinux 9 or Rocky Linux 9": "other_linux9",
    "RHEL 7 or OL 7": "rhel7",
    "RHEL 8 or OL 8": "rhel8",
    "RHEL 9 or OL 9": "rhel9",
    "RHEL 9": "rhel9",
    "RHEL 8": "rhel8",
    "RHEL 7": "rhel7"
  }
%}
{% set map_platform = {
    "Debian 10": "debian_10",
    "Debian 11": "debian_11",
    "Ubuntu 18.04": "ubuntu_18",
    "Ubuntu 20.04": "ubuntu_20",
    "Ubuntu 22.04": "ubuntu_22",
    "SLES 12": "sles_12",
    "SLES 15": "sles_15",
    "CentOS 7": "centos_7",
    "AlmaLinux 8 or Rocky Linux 8": "other_linux_8",
    "AlmaLinux 9 or Rocky Linux 9": "other_linux_9",
    "RHEL 7 or OL 7": "rhel_7",
    "RHEL 8 or OL 8": "rhel_8",
    "RHEL 9 or OL 9": "rhel_9",
    "RHEL 9": "rhel_9",
    "RHEL 8": "rhel_8",
    "RHEL 7": "rhel_7"
  }
%}
