- Install Postgres on a host that the product can connect to using a connection string. It doesn't need to be on the same host. See:
  - [Installing EDB Postgres Advanced Server](/epas/latest/installing/)

  - [Installing PostgreSQL](https://www.postgresql.org/download/) 
