-  Install the EPEL repository:
   
   ```shell
   sudo {{ packageManager }} -y install {{ epelRepo }}
   ```
{% if includePPC %}
-  Refresh the cache:
   
   ```shell
   sudo dnf makecache
   ```
{% endif %}