DELETE THIS FILE WHEN WE'RE SURE IT IS NOT USED (pretty certain it is not used)

{% macro redhatFamilyRepositoryConfiguration(packageManager, epelRepo) %}
```shell
# Set up the EDB repository:
{{ packageManager }} -y install https://yum.enterprisedb.com/edbrepos/edb-repo-latest.noarch.rpm
   
# This creates the /etc/yum.repos.d/edb.repo configuration file. 

#  Replace '<USERNAME>' and '<PASSWORD>' below with 
#  your username and password for the EDB repository:
sed -i "s@<username>:<password>@USERNAME:PASSWORD@" /etc/yum.repos.d/edb.repo

#  Install the EPEL repository:
{{ packageManager }} -y install {{ epelRepo }}
{% block rhel_8_or_ol8 %}{% endblock rhel_8_or_ol8 %}{% block almalinux_8_or_rockylinux_8 %}{% endblock almalinux_8_or_rockylinux_8 %}{% block rhel_7 %}{% endblock rhel_7 %}
{% endmacro %}

{% macro redhatFamilyInstallCommand(packageManager, packageName) %}{{packageManager}} -y install {{ packageName }}{% endmacro %}


