{% macro centosRepositoryConfiguration(packageManager, epelRepo) %}
1. Set up the EDB repository:

   ```sh
   {{ packageManager }} -y install https://yum.enterprisedb.com/edbrepos/edb-repo-latest.noarch.rpm
   ```
   This creates the /etc/yum.repos.d/edb.repo configuration file. 

1. Replace `'USERNAME:PASSWORD'` below with your username and password available from your
[EDB account](https://www.enterprisedb.com/user) in the edb.repo file:

   ```sh
   sed -i "s@<username>:<password>@USERNAME:PASSWORD@" /etc/yum.repos.d/edb.repo
   ```

1. Install EPEL repository and refresh the cache:

   ```sh
   {{ packageManager }} -y install {{ epelRepo }}
   {{ packageManager }} makecache
   ```
{% endmacro %}

{% macro centosInstallCommand(packageManager, packageName) %}{{packageManager}} -y install {{ packageName }}{% endmacro %}