{% extends "platformBase/redhat-family.njk" %}
{% from "platformBase/_shared.njk" import redhatFamilyRepositoryConfiguration %}
{% block redhatConfig %}#  Enable additional repositories to resolve dependencies:
dnf config-manager --set-enabled PowerTools
{% endblock redhatConfig %}
{% block disablePostgres %}#  Disable the built-in PostgreSQL module:
dnf -qy module disable postgresql{% endblock disablePostgres %}
