{% extends "platformBase/base.njk" %}
{% set packageManager = "dnf" %}
{% set epelRepo = "epel-release" %}
{% block redhatConfig %}
-  Enable additional repositories to resolve dependencies:
   ```shell
   sudo dnf config-manager --set-enabled PowerTools
   ```

-  Disable the built-in PostgreSQL module:
   ```shell
   sudo dnf -qy module disable postgresql{% endblock redhatConfig %}
   ```