{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "dnf" %}
{% set packageManagerNoninteractive = "-y" %}
{% set epelRepo = "epel-release" %}
{% block redhatConfig %}#  Enable additional repositories to resolve dependencies:
sudo dnf config-manager --set-enabled PowerTools{% block mysqlfdw %}
  #  Disable the built-in PostgreSQL module:
  sudo dnf -qy module disable postgresql{% endblock mysqlfdw %}{% endblock redhatConfig %}