---
navTitle: {{ platform.name }} on {{ platform.arch }}
title: Installing {{ product.name }} {{ product.version }} on {{ platform.name }} {{ platform.arch }}
---

To complete an installation: 

-   [Setting up the repository](#setting-up-the-repository)
-   [Installing the package](#installing-the-package)
{% block postinstallMenu %}{% endblock postinstallMenu %}

For each step, you must be logged in as superuser.

```shell
# To log in as a superuser:
sudo su -
```

Before setting up the repository, you need to register with EDB. To receive credentials for the EDB repository, visit: [Repository Access Request](https://www.enterprisedb.com/repository-access-request).

## Setting up the repository

{% block prerequisites %}{% endblock prerequisites %}

## Installing the package

{% block installCommand %}{% endblock installCommand %}

{% block postinstall %}{% endblock postinstall %} 

