---
navTitle: {{ platform.name }} on {{ platform.arch }}
title: Installing {{ product.name }} {{ product.version }} on {{ platform.name }} {{ platform.arch }}
---

To complete an installation: 

-   [Setting up the repository](#setting-up-the-repository)
-   [Installing the package](#installing-the-package)
-   [Performing the initial configuration](#initial-configuration)

For each step, you must be logged in as superuser.

```shell
# To log in as a superuser:
sudo su -
```

Before setting up the repository, you need to register with EDB. To receive credentials for the EDB repository, visit: [Repository Access Request](https://www.enterprisedb.com/repository-access-request).

## Setting up the Repository

{% block prerequisites %}{% endblock prerequisites %}

## Installing the Package

{% block installCommand %}{% endblock installCommand %}

## Initial Configuration

{% block postinstall %}No initial configuration is necessary for {{ platform.name }} on {{ platform.arch }}.{% endblock postinstall %} 

