---
navTitle: {{ platform.name }} on {{ platform.arch }}
title: Installing {{ product.name }} on {{ platform.name }} {{ platform.arch }}
---

Before you begin the installation process, log in as superuser.
```shell
# To log in as a superuser:
sudo su -
```

Before setting up the repository, you need to register with EDB. To receive credentials for the EDB repository, visit: [Repository Access Request](https://www.enterprisedb.com/repository-access-request).

## Set up the repository

{% block prerequisites %}{% endblock prerequisites %}

## Install the package

{% block installCommand %}{% endblock installCommand %}

{% block postinstall %}{% endblock postinstall %} 

