{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}
{% block prerequisites %}{% block pemsetuprepo %}
- Address other prerequisites
  ```shell
  # Install the EPEL repository:
  sudo {{ packageManager }} -y install {{ epelRepo }}
  {% block redhatConfig %}{% endblock redhatConfig %}
  ```
{% endblock pemsetuprepo %}{% endblock prerequisites %}