{% extends "platformBase/base.njk" %}
{% from "platformBase/_shared.njk" import centosRepositoryConfiguration, centosInstallCommand %}
{% block prerequisites %}
{{ centosRepositoryConfiguration("dnf", "epel-release") }}
1. Enable the powertools repository since EPEL packages may depend on packages from it:

   ```sh
   dnf config-manager --set-enabled powertools
   ```

{% endblock prerequisites %}

{% block installCommand %}
   ```sh
   {{ centosInstallCommand("dnf", packageName) }}
   ```
{% endblock installCommand %}
