{% extends "platformBase/base.njk" %}
{% from "platformBase/_shared.njk" import centosRepositoryConfiguration, centosInstallCommand %}
{% block prerequisites %}
{{ centosRepositoryConfiguration("dnf", "epel-release") }}
```shell
#  Enable the powertools repository since EPEL packages may depend on packages from it:
dnf config-manager --set-enabled powertools
```
{% endblock prerequisites %}

{% block installCommand %}
```shell
{{ centosInstallCommand("dnf", packageName) }}
```
{% endblock installCommand %}
