{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}
{% block prerequisites %}
- Other prerequisites
  ```shell{% block pemsetuprepo %}
  # Install the EPEL repository:
  sudo {{ packageManager }} -y install {{ epelRepo }}
  {% block redhatConfig %}{% endblock redhatConfig %}{% endblock pemsetuprepo %}
  ```
{% endblock prerequisites %}