{% extends "platformBase/base.njk" %}

{% block prerequisites %}
{% block repoAuth %}
#  Setup the EDB repository
```shell
echo "deb [arch=amd64] https://apt.enterprisedb.com/$(lsb_release -cs)-edb/ $(lsb_release -cs) main" > /etc/apt/sources.list.d/edb-$(lsb_release -cs).list

#  Replace '<USERNAME>' and '<PASSWORD>' below with your username and password for the EDB repositories:
echo "machine apt.enterprisedb.com login <USERNAME> password <PASSWORD>" > /etc/apt/auth.conf.d/edb.conf
{% endblock repoAuth %}

#  Add support for secure APT repositories:
apt-get -y install apt-transport-https

#  Replace '<USERNAME>':'<PASSWORD>' with your repository username and password available from your [EDB account](https://www.enterprisedb.com/user) and add the EDB signing key:
wget -q -O - https://<USERNAME>:<PASSWORD>@apt.enterprisedb.com/edb-deb.gpg.key  | sudo apt-key add -

#  Update the repository meta data:
apt-get update
```
{% endblock prerequisites %}

{% block installCommand %}
```shell
apt-get -y install {{ packageName }}
```
{% endblock installCommand %}
