{% extends "platformBase/debian-10.njk" %}

{% block repoAuth %}
#  Setup the Repository by replacing 'USERNAME:PASSWORD' below with your username and password for the EDB repositories
```shell
echo "deb https://USERNAME:PASSWORD@apt.enterprisedb.com/$(lsb_release -cs)-edb/ $(lsb_release -cs) main" > /etc/apt/sources.list.d/edb-$(lsb_release -cs).list
```
This creates the /etc/apt/sources.list.d/edb-stretch.list configuration file.
{% endblock repoAuth %}
