{% extends "platformBase/debian.njk" %}
{% block repoAuth %}
```shell
#  Set up the repository by replacing 'USERNAME:PASSWORD' with your 
#  username and password for the EDB repositories.
echo "deb https://USERNAME:PASSWORD@apt.enterprisedb.com/$(lsb_release -cs)-edb/ $(lsb_release -cs) main" > /etc/apt/sources.list.d/edb-$(lsb_release -cs).list
#  This creates the /etc/apt/sources.list.d/edb-stretch.list configuration 
#  file.
{% endblock repoAuth %}
