{% extends "platformBase/base.njk" %}
{% block prerequisites %}{% block pemsetuprepo %}
- Install the EPEL repository
  ```shell
  sudo {{ packageManager }} {{ packageManagerNoninteractive }} install {{ epelRepo }}
  ```
{% if includePPC %}
- Refresh the cache
  ```shell
  sudo dnf makecache{% endif %}{% block redhatConfig %}{% endblock redhatConfig %}
  ```{% endblock pemsetuprepo %}{% endblock prerequisites %}
