{% extends "platformBase/base.njk" %}
{% block prerequisites %}
```shell
#  Set up the EDB repository:
sudo {{ packageManager }} -y install https://yum.enterprisedb.com/edbrepos/edb-repo-latest.noarch.rpm
   
#  Replace '<USERNAME>' and '<PASSWORD>' below with 
#  your username and password for the EDB repository:
sed -i "s@<username>:<password>@USERNAME:PASSWORD@" /etc/yum.repos.d/edb.repo
{% block pemsetuprepo %}
#  Install the EPEL repository:
sudo {{ packageManager }} -y install {{ epelRepo }}
{% if includePPC %}
# Refresh the cache:
sudo dnf makecache
{% endif %}
{% block redhatConfig %}{% endblock redhatConfig %}{% endblock pemsetuprepo %}
```
{% endblock prerequisites %}
{% block installCommand %}
```shell
sudo {{packageManager}} -y install {{ packageName }}
```
{% endblock installCommand %}