{% extends "platformBase/base.njk" %}
{% block prerequisites %}
- Install the EPEL repository
  ```shell
  sudo {{ packageManager }} {{ packageManagerNoninteractive }} install {{ epelRepo }}
  ```
{% if platform.arch == "ppc64le" -%}
- Refresh the cache
  ```shell
  sudo dnf makecache
  ```
{%- endif -%}
{% endblock prerequisites %}
