{% extends "platformBase/base.njk" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}
{% block redhatConfig %}- Enable additional repositories to resolve dependencies:
   ```shell
   subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"  --enable "rhel-ha-for-rhel-*-server-rpms"```{% endblock redhatConfig %}