{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "dnf" %}
{% set packageManagerNoninteractive = "-y" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm" %}
