{% extends "platformBase/base.njk" %}
{% from "platformBase/_shared.njk" import redhatFamilyRepositoryConfiguration, redhatFamilyInstallCommand %}
{% set packageManager = "dnf" %}
{% block prerequisites %}
{{ redhatFamilyRepositoryConfiguration("dnf", "https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm") }} 
{% block rhel_8_or_ol8 %}
{% if includePPC %}
# Refresh the cache:
dnf makecache
{% endif %}
#  Enable additional repositories to resolve dependencies:
ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"

#  Disable the built-in PostgreSQL module:
dnf -qy module disable postgresql
{% endblock rhel_8_or_ol8 %}
```
{% endblock prerequisites %}
{% block installCommand %}
```shell
{{ redhatFamilyInstallCommand("dnf", packageName) }}
```
{% endblock installCommand %}
