{% extends "platformBase/base.njk" %}
{% from "platformBase/_shared.njk" import centosRepositoryConfiguration, centosInstallCommand %}
{% block prerequisites %}
{{ centosRepositoryConfiguration("dnf", "https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm") }} 
1. The EPEL packages may depend on packages from other repositories, to download the packages enable the platform-specific repositories.

-   For RHEL, the `codeready-builder-for-rhel-8-*-rpms` repository:

    ```sh
    ARCH=$( /bin/arch )
    subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"
    ```
-   For CentOS, the `powertools` repository:

    ```sh
    dnf config-manager --set-enabled powertools
    ```

1.  Disable the built-in PostgreSQL module:

    ```sh
    dnf -qy module disable postgresql
    ```
{% endblock prerequisites %}
{% block installCommand %}
    ```sh
    {{ centosInstallCommand("dnf", packageName) }}
    ```
!!! Note
    Once the edb repository is set up, you can install any of the EDB products by using the relevant package name at this step. You can use `dnf list available` command to check the available packages.
{% endblock installCommand %}
