{% extends "platformBase/centos-7.njk" %}

{% block prerequisites %}
{{ super() }}

1.  Enable the optional, extras, and HA repositories since EPEL packages may depend on packages from these repositories
    ```sh
    subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"  --enable "rhel-ha-for-rhel-*-server-rpms"
    ```
{% if includeLOCAL %}

1.  Install the `createrepo` utility on the source server to create the local repository:
    ```sh
    yum install -y yum-utils createrepo
    ```

1.  Import EDB GPG key installed from edb-repo and also the other repositories:
    ```sh
    rpm --import /etc/pki/rpm-gpg/*
    ```

1.  Create the download directory, download all the required packages and populate it using `createrepo`:
    ```sh
    $ mkdir -p /tmp/yumdownloaddir
    $ cd /tmp/yumdownloaddir
    $ repotrack parted edb-repo edb-as*-server java edb-pem edb-efm* edb-migrationtoolkit ppas-xdb edb-as*-pgagent.x86_64 edb-bart
    $ createrepo /tmp/yumdownloaddir
    ```

1.  Zip up the download directory, ready to be shipped to the target server(s):
    ```sh
    $ cd /tmp
    $ tar -zcvf yumdownloaddir.tgz yumdownloaddir
    ```

1.  Now login to the target server and copy the .tgz (zip) file to the /tmp directory using scp, or rsync, or any of the other methods. Then unzip it on all the servers needing EDB software.
    ```sh
    sudo su -
    tar -xvf /tmp/yumdownloaddir.tgz
    ```

1.  Install the edb repo file and import the EDB GPG key from the archive:
    ```sh
    yum localinstall yumdownloaddir/edb-repo*.rpm
    rpm --import /etc/pki/rpm-gpg/*
    ```
    This creates the /etc/yum.repos.d/edb.repo configuration file. 

1.  Create an `edb_local.repo` file in /etc/yum.repos.d/ with the following contents:
    ```sh
    cp /etc/yum.repos.d/edb.repo /etc/yum.repos.d/edb_local.repo
    vi /etc/yum.repos.d/edb_local.repo
    [edb-localrepo]
    name=EnterpriseDB Localrepo for install without internet access
    baseurl=file:///tmp/yumdownloaddir/
    enabled=1
    repo_gpgcheck=0
    gpgcheck=1
    gpgkey=file:///etc/pki/rpm-gpg/ENTERPRISEDB-GPG-KEY
    #skip_if_unavailable = 1
    #keepcache = 0
    ```

{% endif %}
{% endblock prerequisites %}
