{% extends "platformBase/base.njk" %}
{% from "platformBase/_shared.njk" import centosRepositoryConfiguration, centosInstallCommand %}
{% block prerequisites %}
{{ centosRepositoryConfiguration("dnf", "https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm") }}
### Enable the codeready-builder-for-rhel-8-*-rpms repository since EPEL packages may depend on packages from it
```sh
ARCH=$( /bin/arch )
subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"
```

### Disable the built-in PostgreSQL module:
```sh
dnf -qy module disable postgresql
```
{% endblock prerequisites %}

{% block installCommand %}
```sh
{{ centosInstallCommand("dnf", packageName) }}
```
{% endblock installCommand %}
