{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}
{% block redhatConfig %}# Enable additional repositories to resolve dependencies:
subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"  --enable "rhel-ha-for-rhel-*-server-rpms"
{% block mysqlfdw %}{% endblock mysqlfdw %}{% endblock redhatConfig %}