{% extends "platformBase/redhat-family.njk" %}
{% set packageManager = "dnf" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm" %}
{% block redhatConfig %}
#  Enable additional repositories to resolve dependencies:
ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"

#  Disable the built-in PostgreSQL module:
dnf -qy module disable postgresql{% endblock redhatConfig %}