{% extends "platformBase/centos-7.njk" %}

{% block prerequisites %}
{{ super() }}

### Enable the optional, extras, and HA repositories since EPEL packages may depend on packages from these repositories
```sh
subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"  --enable "rhel-ha-for-rhel-*-server-rpms"
```
{% endblock prerequisites %}
