{% extends "platformBase/redhat-family.njk" %}
{% from "platformBase/_shared.njk" import redhatFamilyRepositoryConfiguration %}
{{ redhatFamilyRepositoryConfiguration("dnf", "epel-release") }}
{% block redhatConfig %}# Enable additional repositories to resolve dependencies:
subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"  --enable "rhel-ha-for-rhel-*-server-rpms"{% endblock redhatConfig %}