{% extends "platformBase/base.njk" %}
{% block prerequisites %}
```shell
# Install the repository configuration and enter your EDB repository
# credentials when prompted
zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo

# Install SUSEConnect to register the host with SUSE, allowing access 
# to SUSE repositories
zypper install SUSEConnect

# Register the host with SUSE, allowing access to SUSE repositories
# Replace 'REGISTRATION_CODE' and 'EMAIL' with your SUSE 
# registration information
SUSEConnect -r 'REGISTRATION_CODE' -e 'EMAIL'

# Activate the required SUSE modules
{%- block activateSUSEmodule %}
SUSEConnect -p PackageHub/12.5/{{ platform.arch }}
SUSEConnect -p sle-sdk/12.5/{{ platform.arch }}
{% endblock activateSUSEmodule %}
# Refresh the metadata
zypper refresh
```
{% endblock prerequisites %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}
```
