{% extends "platformBase/base.njk" %}
{% set packageManager = "zypper" %}
{% set packageManagerNoninteractive = "-n" %}
{% block repocheck %}
   
`zypper lr -E | grep enterprisedb`
{% endblock repocheck %}
{% block prerequisites %}
{% block other_platform_prerequesites_shell %}{% endblock other_platform_prerequesites_shell %}
- Activate the required SUSE module
  ```shell
  {%- filter indent(2) -%}
  {% block activateSUSEmodule %}
sudo SUSEConnect -p PackageHub/12.5/{{ platform.arch }}
sudo SUSEConnect -p sle-sdk/12.5/{{ platform.arch }}
  {% endblock activateSUSEmodule %}
  {%- endfilter %}
  ```
- Refresh the metadata  
  ```shell
  sudo zypper refresh
  ```
{% endblock prerequisites %}
{% block installCommand %}
```shell
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}
```
{% endblock installCommand %}
