
{% extends "platformBase/base.njk" %}
{% block prerequisites %}
```shell
# Install the repository configuration and enter your EDB repository
# credentials when prompted
zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo

{% block activateSUSEmodule %}
SUSEConnect -p PackageHub/15.3/{{ platform.arch }}
{% endblock activateSUSEmodule %}

