{% extends "platformBase/base.njk" %}
{% block prerequisites %}
1.  Install the repository configuration
    
    ```sh
    zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo
    ```

1.  Refresh the metadata
    
    ```sh
    zypper refresh
    ```

1.  Install SUSEConnect to register the host with SUSE, allowing access to SUSE repositories

    ```sh
    zypper install SUSEConnect
    ```

1.  Register the host with SUSE, allowing access to SUSE repositories

    Replace 'REGISTRATION_CODE' and 'EMAIL' with your SUSE registration information

    ```sh
    SUSEConnect -r 'REGISTRATION_CODE' -e 'EMAIL'
    SUSEConnect -p PackageHub/12.4/x86_64
    SUSEConnect -p sle-sdk/12.4/x86_64
    ```

1.  Install the following repository for PEM dependencies

    ```sh
    zypper addrepo https://download.opensuse.org/repositories/Apache:/Modules/SLE_12_SP4/Apache:Modules.repo
    ```

1.  Refresh the metadata

    ```sh
    zypper refresh
    ```

1.  Install OpenJDK (version 1.8) for Java based components

    ```sh
    zypper -n install java-1_8_0-openjdk
    ```
{% endblock prerequisites %}
{% block installCommand %}
    ```sh
    zypper -n install {{ packageName }}
    ```
{% endblock installCommand %}
