{% extends "platformBase/base.njk" %}
{% set packageManager = "apt-get" %}
{% block prerequisites %}{% block mysqlfdw %}{% endblock mysqlfdw %}{% endblock prerequisites %}
{% block installCommand %}{% block odbcconnector %}
```shell
sudo apt-get install {{ packageName }}
```
{% endblock odbcconnector %}{% endblock installCommand %}
