{% extends "platformBase/base.njk" %}
{% set packageManager = "apt-get" %}
{% block prerequisites %}
- Other prerequisites
  ```shell
  #  Add support for secure APT repositories:
  sudo apt-get -y install apt-transport-https
  #  Add the EDB signing key. Substitute your EnterpriseDB credentials
  #  for the '<USERNAME>' and '<PASSWORD>' placeholders.
  wget -q -O - https://<USERNAME>:<PASSWORD>@apt.enterprisedb.com/edb-deb.gpg.key  | sudo apt-key add -
  {% block mysqlfdw %}
  #  Update the repository metadata:
  sudo apt-get update
  ```
{% endblock mysqlfdw %}{% endblock prerequisites %}

{% block installCommand %}{% block odbcconnector %}
```shell
sudo apt-get install {{ packageName }}
```
{% endblock odbcconnector %}{% endblock installCommand %}
