{% extends "platformBase/base.njk" %}
{% set packageManager = "apt-get" %}
{% set packageManagerNoninteractive = "-y" %}
{% block prerequisites %}{% endblock prerequisites %}
{% block installCommand %}
```shell
sudo {{ packageManager }} {{ packageManagerNoninteractive }} install {{ packageName }}
```
{% endblock installCommand %}
