{% extends "products/postgres-enterprise-manager/base.njk" %}
{% set platformBaseTemplate = "sles_12" %}
{% block prerequisites %}
{{ super() }}
# Install the following repository for PEM dependencies
```shell
zypper addrepo https://download.opensuse.org/repositories/Apache:/Modules/SLE_12_SP5/Apache:Modules.repo
```
{% endblock prerequisites %}
