{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="edb-dms-agent" %}

{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: edb-postgres-ai/{{ product.version }}/hybrid-manager/using_hybrid_manager/migration/installing_agent/linux_arm64/index.mdx
indexCards: none
{% endblock frontmatter %}
{% block navigation %}
{% endblock navigation %}

