{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem-agent{% endset %}
{% block installCommand %}
{{super()}}
After installing PEM agent, you need to register the PEM agent. For detailed information see [Registering an agent](/pem/latest/registering_agent/).
{% endblock installCommand %}