{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pem-agent{% endset %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: pem/{{ product.version }}/installing_pem_agent/linux_{{platform.arch}}/pem_agent_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - pem/{{ product.version }}/installing_pem_agent/installing_on_linux/{{deploy.expand_arch[platform.arch]}}/pem_agent_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}
{% block postgresqlalternative %}{% endblock postgresqlalternative %}

{% block product_prerequisites %}
- Set up the EDB repository. For more information, see [getting started with repositories](https://www.enterprisedb.com/docs/repos/getting_started/).
{% endblock product_prerequisites %}
{% block installCommand %}
{{super()}}
After installing PEM agent, you need to register the PEM agent. For detailed information see [Registering an agent](../../registering_agent/).
{% endblock installCommand %}