{% extends "platformBase/index.njk" %}
{% set productShortname="pem_agent" %}

{% block frontmatter %}
deployPath: pem/{{ product.version }}/installing_pem_agent/index.mdx
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows_agent
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows_agent)
{% endblock otherosinstall %}
