{% extends "platformBase/index.njk" %}
{% set productShortname="pem_agent" %}

{% block title %}
navTitle: Installing the PEM agent
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
deployPath: pem/{{ product.version }}/installing_pem_agent/index.mdx
redirects:
  - /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_agent/installing_on_linux/
  - /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_agent/installing_on_linux/ppc64le/
  - /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_agent/installing_on_linux/x86/pem_agent_rhel7_x86/
  - /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_agent/installing_on_linux/x86/pem_agent_ubuntu18_x86/
  - /pem/{{ product.version if product.version < 9 else "latest" }}/pem_inst_guide_linux/04_installing_postgres_enterprise_manager/08_installing_pem_agent_on_linux/

{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows_agent
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows_agent)
{% endblock otherosinstall %}
