
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="pem_agent" %}

{% block frontmatter %}
deployPath: pem/{{ product.version }}/installing_pem_agent/linux_ppc64le/index.mdx
redirects:
- /pem/latest/installing_pem_agent/installing_on_linux/ibm_power_ppc64le/
{% endblock frontmatter %}
