{% extends "products/postgres-enterprise-manager-agent/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block introductory_notes %}
!!! Note

    Postgres Enterprise Manager 8.3 and later is supported on SLES.

{% endblock introductory_notes %}