
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="pem_agent" %}

{% block frontmatter %}
deployPath: pem/{{ product.version }}/installing_pem_agent/linux_x86_64/index.mdx
redirects:
- /pem/{{ product.version if product.version < 9 else "latest" }}/installing_pem_agent/installing_on_linux/x86_amd64/
{% endblock frontmatter %}
