{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName = packageName or 'cdcreader-<1.x>-1.4766136665.17.1.el8.jammy' %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: transporter/{{ product.version }}/installing/linux_{{platform.arch}}/transporter_{{deploy.map_platform[platform.name]}}.mdx
{% endblock frontmatter %}

{% block postinstall %}
Where `<1.x>` is the version of EDB Transporter that you are installing. For example, if you are installing version 1.4, the package name would be `cdcreader=1.4-1.4766136665.17.1.x86_64`.
{% endblock postinstall %} 
