{% extends "platformBase/index.njk" %}
{% set productShortname="transporter" %}

{% block frontmatter %}
{{ super() }}
{% endblock frontmatter %}
{% block navigation %}
- prerequisites
- linux_x86_64
- linux_ppc64le
- install_details
{% endblock navigation %}
