{% extends "products/transporter/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% set packageName %}cdcreader-<1.x>-1.4766136665.17.1.el8.x86_64{% endset %}
{% block prerequisites %}{% endblock prerequisites %}