
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="postgis" %}

{% block frontmatter %}
deployPath: {{productShortname}}/{{ product.versionMajor }}/installing/linux_arm64/index.mdx
redirects:
  - /postgis/latest/01a_installing_postgis/installing_on_linux/x86_amd64/
{% endblock frontmatter %}
