{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as14-postgis32{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: postgis/{{ product.versionMajor }}/installing/linux_{{platform.arch}}/postgis_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - postgis/latest/01a_installing_postgis/installing_on_linux/{{deploy.expand_arch[platform.arch]}}/postgis_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block product_prerequisites %}{% include "platformBase/_epasinstallsameserver.njk" %}
{{ super() }}
{% endblock product_prerequisites %}
{% block installCommand %}
```shell
# To install PostGIS 3.2:
sudo zypper -n install edb-as<xx>-postgis32

# To install PostGIS 3.1:
sudo zypper -n install edb-as<xx>-postgis3
```
{% include "./_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}