{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as14-postgis32{% endset %}
{% block installCommand %}
```shell
# If you are using EDB Postgres Advanced Server 13 or 14, use this format 
# of the command:
apt-get install edb-as14-postgis32
# Where `14` is the version of EDB Postgres Advanced Server. Replace `14` 
# with `13` if that is the version of EDB Postgres Advanced Server you 
# are using.

# If you are using  EDB Postgres Advanced Server 11 or 12, use this format 
# of the command:
apt-get install edb-as12-postgis-3.2
 
# Where `12` is the version of EDB Postgres Advanced Server. Replace `12` 
# with `11` if that is the version of EDB Postgres Advanced Server you 
# are using.
```
{% endblock installCommand %}