{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "debian-10" %}
{% block installCommand %}
```shell
# To install PostGIS 3.2 using EDB Postgres Advanced Server 13-14:
apt-get install edb-as<xx>-postgis32 

# To install PostGIS 3.2 using EDB Postgres Advanced Server 12:
apt-get install edb-as<xx>-postgis-3.2

# To install PostGIS 3.1 using EDB Postgres Advanced Server 13-14:
apt-get install edb-as<xx>-postgis3

# To install PostGIS 3.1 using EDB Postgres Advanced Server 12:
apt-get install edb-as12-postgis-3.1
```
{% include "platformBase/_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}



