{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "debian-11" %}
{% block installCommand %}
```shell
# To install PostGIS 3.2 using EDB Postgres Advanced Server 13-14:
sudo apt-get -y install edb-as<xx>-postgis32 

# To install PostGIS 3.2 using EDB Postgres Advanced Server 11-12:
sudo sudo apt-get -y install edb-as<xx>-postgis-3.2
```
{% include "platformBase/_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}