{% extends "platformBase/index.njk" %}
{% set productShortname="postgis" %}

{% block title %}
navTitle: Installing
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
deployPath: {{productShortname}}/{{ product.versionMajor }}/installing/index.mdx
redirects:
  - /postgis/latest/01_installing_postgis/
  - /postgis/latest/01a_installing_postgis/
  - /postgis/latest/01a_installing_postgis/installing_on_linux/
  - /postgis/latest/01a_installing_postgis/installing_on_linux/x86_amd64/01_postgis_rhel8_x86/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- upgrading
- uninstalling
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
