
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="postgis" %}

{% block frontmatter %}
deployPath: {{productShortname}}/{{ product.versionMajor }}/installing/linux_ppc64le/index.mdx
redirects:
  - /postgis/latest/01a_installing_postgis/installing_on_linux/ibm_power_ppc64le/
{% endblock frontmatter %}
