{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{%- block activateSUSEmodule %}
SUSEConnect -p sle-module-desktop-applications/15.3/{{ platform.arch }}
SUSEConnect -d -p sle-module-development-tools/15.3/{{ platform.arch }}
{% endblock activateSUSEmodule %}