{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% block installCommand %}
```shell
# To install PostGIS 3.4:
sudo zypper -n install edb-as<xx>-postgis34

# To install PostGIS 3.1:
sudo zypper -n install edb-as<xx>-postgis3
```
{% include "./_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}