{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block installCommand %}
```shell
# To install PostGIS 3.2:
zypper install edb-as<xx>-postgis32

# To install PostGIS 3.1 using EDB Postgres Advanced Server 13-14:
zypper install edb-as<xx>-postgis3

# To install PostGIS 3.1 using EDB Postgres Advanced Server 12:
zypper install edb-as12-postgis
```
{% include "platformBase/_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}