{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "ubuntu-20.04" %}
{% block installCommand %}
```shell
# To install PostGIS 3.2:
sudo apt-get -y install edb-as14-postgis32

# To install PostGIS 3.1:
sudo apt-get -y install edb-as<xx>-postgis3
```
{% include "platformBase/_epasVersionInPostGISPackageName.njk" %}
{% endblock installCommand %}

