{% extends "products/postgis/base.njk" %}
{% set platformBaseTemplate = "ubuntu-18.04" %}
{% block setupRepository %}
#  Set up the EDB repository. Substitute your EnterpriseDB credentials 
#  for the '<USERNAME>' and '<PASSWORD>' placeholders.
echo "deb https://<USERNAME>:pass<PASSWORD>@apt.enterprisedb.com/$(lsb_release -cs)-edb/ $(lsb_release -cs) main" > /etc/apt/sources.list.d/edb-$(lsb_release -cs).list
{% endblock setupRepository %}