.admonition-important {
  @extend .alert-info;
}
.admonition-tip,
.admonition-hint {
  @extend .alert-success;
}
.admonition-note,
.admonition-seealso,
.admonition-info {
  @extend .alert-secondary;
}
.admonition-warning, .admonition-caution {
  @extend .alert-warning;
}
.admonition-danger {
  @extend .alert-danger;
}

.admonition-interactive {
  border: 2px solid rgba($orange, 0.8) !important;
  @extend .alert-secondary;
  background-color: $gray-100;
  padding: 1rem;

  h5 {
    font-weight: 300;
    //text-transform: uppercase;
    color: $orange;
    &::before {
      content: "" !important;
      margin-right: 0 !important;
    }
  }
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

.admonition {
  border: none;
}

.admonition-heading h5:before {
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
  opacity: 0.6;
}

.admonition-note, .admonition-info {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M6.3 5.69a.942.942 0 0 1-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28 0 .52.09.7.28.18.19.28.42.28.7 0 .28-.09.52-.28.7a1 1 0 0 1-.7.3c-.28 0-.52-.11-.7-.3zM8 7.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27 0 .48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7 2.3c-3.14 0-5.7 2.54-5.7 5.68 0 3.14 2.56 5.7 5.7 5.7s5.7-2.55 5.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7 .98c3.86 0 7 3.14 7 7s-3.14 7-7 7-7-3.12-7-7 3.14-7 7-7z"/></svg>');
  }
}



.admonition-seealso {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512" width="14" height="16"><path d="M65.5 0h315.71c6.94 0 12.61 5.68 12.61 12.63v157.15c-23.99-12.13-50.71-18.61-78.16-18.61-23.45 0-45.88 4.68-66.32 13.18A172.735 172.735 0 0 0 193.06 202c-45.13 45.11-61.73 111.81-43.51 172.45h-88.7c-19 0-34.53 15.55-34.53 34.53 0 19 15.55 34.54 34.53 34.54h128.59l3.6 3.7c8.17 8.17 17.05 15.43 26.51 21.73H62.16C27.97 468.95 0 440.99 0 406.8V65.51C0 29.48 29.47 0 65.5 0zm253.98 185.1c38.15 0 74.59 15.1 101.56 42.06 37.26 37.26 51.12 92.19 36.11 142.62a142.778 142.778 0 0 1-14.59 33.02l55.63 60.63a6.892 6.892 0 0 1-.4 9.71l-40.85 37.3c-2.79 2.56-7.13 2.36-9.69-.43l-53.21-58.53c-22.53 13.73-48.17 20.89-74.56 20.89-38.15 0-74.59-15.1-101.56-42.07a143.873 143.873 0 0 1-31.17-46.64c-22.26-53.62-9.61-115.7 31.19-156.48 13.19-13.22 29-23.88 46.61-31.17 16.94-7.04 35.51-10.91 54.93-10.91zm81.04 62.59c-32.71-32.72-82.29-42.55-124.89-24.9-76.44 31.65-94 130.21-37.21 186.97 32.77 32.69 82.24 42.57 124.9 24.91 42.88-17.81 70.76-59.52 70.76-105.94 0-15.55-3.07-30.38-8.65-43.83-5.82-14-14.33-26.63-24.91-37.21zM58.17 416.08h106.68l1.9 2.92c2.34 3.48 4.79 6.87 7.34 10.16H58.17c-2.75 0-5.02-2.25-5.02-5.01v-3.05c0-2.75 2.25-5.02 5.02-5.02zm0-25.9h92.97c1.87 4.43 3.95 8.8 6.23 13.08h-99.2c-2.75 0-5.02-2.25-5.02-5.01v-3.05c0-2.77 2.25-5.02 5.02-5.02zm19.5-339.05h10.91c5.59 0 10.15 3.69 10.15 8.21v257.5c0 4.51-4.57 8.2-10.15 8.2H77.67c-5.58 0-10.14-3.69-10.14-8.2V59.33c0-4.51 4.56-8.2 10.14-8.2z"/></svg>');
  }
}


.admonition-danger {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M5.05.31c.81 2.17.41 3.38-.52 4.31C3.55 5.67 1.98 6.45.9 7.98c-1.45 2.05-1.7 6.53 3.53 7.7-2.2-1.16-2.67-4.52-.3-6.61-.61 2.03.53 3.33 1.94 2.86 1.39-.47 2.3.53 2.27 1.67-.02.78-.31 1.44-1.13 1.81 3.42-.59 4.78-3.42 4.78-5.56 0-2.84-2.53-3.22-1.25-5.61-1.52.13-2.03 1.13-1.89 2.75.09 1.08-1.02 1.8-1.86 1.33-.67-.41-.66-1.19-.06-1.78C8.18 5.31 8.68 2.45 5.05.32L5.03.3l.02.01z"/></svg>');
  }
}

.admonition-tip, .admonition-hint {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M6.5 0C3.48 0 1 2.19 1 5c0 .92.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c.22-1.22.66-1.75 2-4 .45-.75 1-2.08 1-3 0-2.81-2.48-5-5.5-5zm3.64 7.48c-.25.44-.47.8-.67 1.11-.86 1.41-1.25 2.06-1.45 3.23-.02.05-.02.11-.02.17H5c0-.06 0-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44 6.78 2 5.65 2 5c0-2.2 2.02-4 4.5-4 1.22 0 2.36.42 3.22 1.19C10.55 2.94 11 3.94 11 5c0 .66-.44 1.78-.86 2.48zM4 14h5c-.23 1.14-1.3 2-2.5 2s-2.27-.86-2.5-2z"/></svg>');
  }
}

.admonition-important {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"/></svg>');
  }
}

.admonition-warning, .admonition-caution {
  > .admonition-heading h5:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"/></svg>');
  }
}
      

