.admonition-important {
  @extend .alert-info;
}
.admonition-tip {
  @extend .alert-success;
}
.admonition-note {
  @extend .alert-secondary;
}
.admonition-warning {
  @extend .alert-warning;
}
.admonition-danger {
  @extend .alert-danger;
}

.admonition-icon {
  margin-right: 0.5rem;
  position: relative;
  top: -1px;
}

.admonition-content p {
  margin-bottom: 0;
}
