main {
  margin-top: 0;
  min-height: auto;
}

table {
  width: 100% !important; // some docs have table widths set inline :(
}

// issue #2612: switch up list style for nested ordered lists
ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: decimal;
}

.table-with-scroll {
  overflow-x: scroll;
}

label.link-label {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

/* Search */
.global-search {
  .select-product {
    z-index: calc($zindex-dropdown + 1);
  }
}

/* remove glow from search input */
.form-control:focus {
  box-shadow: none !important;
}

/* Sidebar */

.sidebar {
  min-width: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* sidebar item that contains other items */
.section-title
{
  @include caret(end);
  &::after {
    vertical-align: 0;
  }
}

.font-weight-400 {
  font-weight: 400;
}

.disabled-grey {
  color: $gray-300;
  border-color: $gray-300;
  pointer-events: none;
}

.blockquote-bordered {
  border-left: 5px solid $gray-200;
  padding-left: 1rem;
}

.break-word {
  word-wrap: break-word;
}

.content-container {
  max-width: 1080px;
  margin: 0 auto;
}

.codeblock-controls {
  background: #272822; // match pre background
  border-top-left-radius: 5px; // match pre radius
  border-top-right-radius: 5px;
  color: $gray-500;
  font-size: 0.875rem; // match bootstrap sm btn text
  justify-content: space-between;
  flex-direction: row-reverse;

  .btn.btn-link {
    color: $gray-500;

    &:hover {
      color: $gray-300;
    }
  }

  &.output-label {
    text-transform: uppercase;
    color: black;
  }
}

.codeblock-wrapper {
  background: black;
  padding: 0.3em;
  border-radius: 8px;
  overflow: auto;
}

.output-block {
  .codeblock-controls {
    background: #d1d1d1;
  }

  pre {
    background: #d1d1d1;
    color: #272822;
    text-shadow: none;
    line-height: normal;
    // Google doesn't serve some character ranges for Source Code Pro that we need for legible output, e.g. table listings - so use default
    font-family: monospace !important;
  }
}

/* katacoda */

.katacoda-page-embed {
  height: calc(100vh - 200px) !important;
  box-shadow: 0px 0px 1px 1px $gray-100;
}

// Katacoda in panel display mode adds a fixed-position console with this height
.katacoda-panel-active body {
  margin-bottom: max(40vh, 320px);
}

#katacoda-panel-container {
  min-height: 320px !important;
}

.katacoda-exec-button {
  display: none;
  border: none;
  background: #272822; // match pre background

  &:disabled {
    opacity: 0.3;
  }
}

html.katacoda-panel-active .katacoda-exec-button {
  display: inline-block !important;
}

.katacoda-start-button {
  min-width: 180px;
  text-align: left;

  .cta {
    font-size: 1.2rem;
  }
}

@media print {
  // h/t https://stackoverflow.com/questions/31947026/bootstrap-printing-and-column-resizing/45226168#45226168
  .col-print-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  tr {
    break-inside: avoid-page;
  }

  h1, h2, h3, h4, h5, h6 {
    break-after: avoid-page;
  }

  .topbar,
  .sidebar,
  nav {
    display: none !important;
  }

  // Because it is fixed position, the Katacoda panel screws up printing big-time
  .katacoda-panel-active {
    body {
      margin-bottom: unset;
    }

    .katacoda-panel {
      display: none;
    }
  }

  /*
   * details / summary
   * note that this does not / cannot *expand* the details - that's handled via script in 
   * the purpose of these styles is simply to clean up the rendering a bit.
   */
  summary {
    display: block;
  }
  
  summary::-webkit-details-marker { display: none }
  
}

// Index page

.card-columns.full-width {
  column-count: 12;
  columns: 1;
}

.card-editorial-cnpo img {
  max-width: 250px;
  height: auto;
}

.nested-link {
  &:before {
    content: "∟";
    color: lightgrey;
    position: relative;
    top: -3px;
    //font-size: 12px;
    margin-right: 2px;
  }

  position: relative;
  top: -0.75rem;
  margin-bottom: -0.75rem;
}

.new-thing {
  color: $orange;
  font-size: 0.65rem;
  font-weight: 400;
  border: 1px solid $orange;
  padding: 0 2px;
  border-radius: 5px;
  margin-left: 0.3rem;
  font-weight: normal;
  display: inline-block;
}

.new-thing-header {
  position: relative;
  display: inline;

  &::before {
    content: "";
    border-top: 1px solid rgba($orange, 0.3);
    border-right: 1px solid rgba($orange, 0.3);
    transform: skewX(25deg);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .badge-text {
    color: $orange;
    padding: 4px 10px 4px 5px;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}

.homepage-headling-link {
  &:hover {
    text-decoration: underline;
  }
}

.header-docs-link {
  & span:hover {
    border-bottom: 1px solid grey;
  }
}

