main { 
  margin-top: 0; 
  min-height: auto; 
}

/* remove glow from search input */
.form-control:focus { box-shadow:none !important; }

/* Sidebar */

.sidebar {
  min-width: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.katacoda-embed {
  padding-top: 20px;
}

.font-weight-400 {
  font-weight: 400;
}

.disabled-grey {
  color: $gray-300;
  border-color: $gray-300;
  pointer-events: none;
}

.blockquote-bordered {
  border-left: 5px solid $gray-200;
  padding-left: 1rem;
}

.break-word {
  word-wrap: break-word;
}

.content-container {
  max-width: 1080px;
  margin: 0 auto;
}
