main { 
  margin-top: 0; 
  min-height: auto; 
}

/* remove glow from search input */
.form-control:focus { box-shadow:none !important; }

/* Sidebar */

.sidebar {
  min-width: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.font-weight-400 {
  font-weight: 400;
}

.disabled-grey {
  color: $gray-300;
  border-color: $gray-300;
  pointer-events: none;
}

.blockquote-bordered {
  border-left: 5px solid $gray-200;
  padding-left: 1rem;
}

.break-word {
  word-wrap: break-word;
}

.content-container {
  max-width: 1080px;
  margin: 0 auto;
}

.codeblock-controls {
  background: #272822; // match pre background
  border-top-left-radius: 0.3em; // match pre radius
  border-top-right-radius: 0.3em;
  color: $gray-500;
  font-size: 0.875rem; // match bootstrap sm btn text
  justify-content: space-between;
  flex-direction: row-reverse;

  .btn.btn-link {
    color: $gray-500;

    &:hover {
      color: $gray-300;
    }
  }
}

.codeblock-wrapper {
  background: black;
  padding: 0.3em;
  border-radius: 0.3em;
  overflow: auto;
}

/* katacoda */

.katacoda-page-embed {
  height: calc(100vh - 200px) !important;
  box-shadow: 0px 0px 1px 1px $gray-100;
}

// Katacoda in panel display mode adds a fixed-position console with this height
.katacoda-panel-active body {
  margin-bottom: 40vh;
}

// Katacoda-enabled code blocks will have this class in panel display mode
pre.katacoda-exec {
  cursor: pointer;
}

.katacoda-exec-button {
  display: none;
  border: none;
  background: #272822; // match pre background
}

html.katacoda-panel-active .katacoda-exec-button {
  display: inline-block !important;
}

.katacoda-start-button {
  min-width: 180px;
  text-align: left;
  .cta { font-size: 1.2rem; }
}

// Because it is fixed position, the Katacoda panel screws up printing big-time
@media print {
  .katacoda-panel-active {
    body { margin-bottom: unset; }
    .katacoda-panel { display: none; }
  }
}
