main { 
  margin-top: 0; 
  min-height: auto; 
}

/* remove glow from search input */
.form-control:focus { box-shadow:none !important; }

/* Sidebar */

.sidebar {
  min-width: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

