/* signika-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Signika";
  font-style: normal;
  font-weight: 300;
  src: local("Signika Light"), local("Signika-Light"),
    url("./fonts/Signika/signika-v10-latin-300.woff2") format("woff2"),
    url("./fonts/Signika/signika-v10-latin-300.woff") format("woff");
}

/* signika-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Signika";
  font-style: normal;
  font-weight: 400;
  src: local("Signika Regular"), local("Signika-Regular"),
    url("./fonts/Signika/signika-v10-latin-regular.woff2") format("woff2"),
    url("./fonts/Signika/signika-v10-latin-regular.woff") format("woff");
  font-display: swap;
}

/* signika-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  src: local("Signika SemiBold"), local("Signika-SemiBold"),
    url("./fonts/Signika/signika-v10-latin-600.woff2") format("woff2"),
    url("./fonts/Signika/signika-v10-latin-600.woff") format("woff");
}
