@font-face {
  font-family: "Supreme-Variable";
  src: url("./fonts/Supreme/Supreme-Variable.woff2") format("woff2"),
    url("./fonts/Supreme/Supreme-Variable.woff") format("woff");
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Supreme-VariableItalic";
  src: url("./fonts/Supreme/Supreme-VariableItalic.woff2") format("woff2"),
    url("./fonts/Supreme/Supreme-VariableItalic.woff") format("woff");
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Industry";
  src: url("./fonts/Industry/Industry-Bold.woff2") format("woff2"),
    url("./fonts/Industry/Industry-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}