/* This file is for styles not explicitly taken from the EDB wireframe */

.hidden-for-testing {
  display: none !important;
}

.toc-sticky {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.toc-sticky li .active { font-weight: bold; }

.overflow-scroll {
  overflow: scroll;
}

.balance-text {
  text-wrap: balance; /* Apply (proposed) CSS style */
}

.toctree {
  display: none;
}

pre {
  code {
    padding: 0;
  }

  font-family: $font-family-monospace !important;
}

code {
  background-color: $light;
  border-radius: $border-radius;
  padding: map-get($spacers, 1);
  color: $code-color;
  font-family: $font-family-monospace !important;
}

a code {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.max-w-40 {
  max-width: 40%;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.text-smaller {
  font-size: 1.4rem;
}

/* Dropdown overrides */
.version-dropdown.dropdown-menu,
[aria-labelledby="page-actions-button"] {
  border-radius: $border-radius !important;
  border-top-color: $blue !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
}

.dropdown #page-actions-button.dropdown-toggle::after {
  display: none;
}

.dropdown #page-actions-button {
  padding-right: 0;
}

// Make the icon inverse on hover
#page-actions-button:hover svg {
  fill: white;
}
// Make it still be white if mouse pointer is away
#page-actions-button[aria-expanded="true"] svg {
  fill: white;
}

// After switching to Supreme Variable need to redefine the font-weight for the mdx renderer
b, strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  word-wrap: break-word;
}

// override some rather shortsighted Bootstrap styles
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 1rem;
}

// restore the *intended* behavior of Bootstrap's rule: 
// a nested list that's the last (or only) child of a list item
// should not have a margin.
// keeps consistent spacing between items on different levels of
// tightly nested lists, without eating space between paragraphs
// on lists in content that happens to be within an outer list
ol>li>ol:last-child,
ul>li>ul:last-child,
ol>li>ul:last-child,
ul>li>ol:last-child {
  margin-bottom: 0;
}
