/* This file is for styles not explicitly taken from the EDB wireframe */

.hidden-for-testing {
  display: none !important;
}

.sidebar {
  width: 310px; /* sidebar was expanding occasionally */
}

.toc-sticky {
  position: sticky;
  top: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.balance-text {
  text-wrap: balance; /* Apply (proposed) CSS style */
}

.toctree {
  display: none;
}

pre {
  code {
    padding: 0;
  }

  font-family: $font-family-monospace !important;
}

code {
  background-color: $light;
  border-radius: $border-radius;
  padding: map-get($spacers, 1);
  color: $code-color;
  font-family: $font-family-monospace !important;
}

.max-w-40 {
  max-width: 40%;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.text-smaller {
  font-size: 1.4rem;
}

/* Dropdown overrides */
.version-dropdown.dropdown-menu,
[aria-labelledby="page-actions-button"] {
  border-radius: $border-radius !important;
  border-top-color: #4d89b1 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
}

.dropdown #page-actions-button.dropdown-toggle::after {
  display: none;
}

.dropdown #page-actions-button {
  padding-right: 0;
}

// Make the icon inverse on hover
#page-actions-button:hover svg {
  fill: white;
}
// Make it still be white if mouse pointer is away
#page-actions-button[aria-expanded="true"] svg {
  fill: white;
}

// After switching to Supreme Variable need to redefine the font-weight for the mdx renderer
b, strong {
  font-weight: 600;
}