.ais-Hits {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  mark {
    @extend .bg-primary;

    font-weight: bolder;
    color: white;
  }

  .dropdown-item {
    white-space: normal;
  }
}
