/* min-height is intended to keep the footer at the bottom when there is little content on the page */
/* probably a better way to do this :) */
main { 
  margin-top: 72px; 
  min-height: calc(100vh - 500px); 
}

/* fix double-arrow bug because not using an auto-prefixer in the prototype */
/* https://stackoverflow.com/questions/51077573/bootstrap-4-custom-select-class-showing-two-overlapping-arrow-styles */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* these utility classes are for changing svg fill colors -- they need to be abstracted to bootstrap sass variables */
/* would be awesome to have fill classes for all core colors ($light, $dark, $primary, $secondary, etc) as well as color variables ($black, $white, $purple, etc) and grays ($gray-100, $gray-200, etc) */
.fill-inherit { fill: currentColor!important; }
.fill-black { fill: black!important; }
.fill-white { fill: white!important; }
.fill-primary { fill: #00adf2!important; }
.fill-success { fill: #67a628!important; }
.fill-danger { fill: #dc3545!important; }

/* line height */
.lh-1 { line-height: 1!important; }
.lh-12 { line-height: 1.2!important; }

/* gray backgrounds */
.bg-gray-1 { background-color: #F2EFEB!important; }
.bg-gray-2 { background-color: #D9D4CE!important; }
.bg-gray-3 { background-color: #BFBAB6!important; }
.bg-gray-4 { background-color: #A8A4A0!important; }
.bg-gray-5 { background-color: #8C8985!important; }
.bg-gray-6 { background-color: #73706D!important; }
.bg-gray-7 { background-color: #595755!important; }
.bg-gray-8 { background-color: #403E3D!important; }
.bg-gray-9 { background-color: #262524!important; }
.bg-black { background-color: #000!important; }

/* opacity */
.opacity-0 { opacity:0!important; }
.opacity-1 { opacity:0.1!important; }
.opacity-2 { opacity:0.2!important; }
.opacity-3 { opacity:0.3!important; }
.opacity-4 { opacity:0.4!important; }
.opacity-5 { opacity:0.5!important; }
.opacity-6 { opacity:0.6!important; }
.opacity-7 { opacity:0.7!important; }
.opacity-8 { opacity:0.8!important; }
.opacity-9 { opacity:0.9!important; }

/* moar padding and margin */
.p-6 { padding: 4rem !important; }
.pt-6, .py-6 { padding-top: 4rem !important; }
.pr-6, .px-6 { padding-right: 4rem !important; }
.pb-6, .py-6 { padding-bottom: 4rem !important; }
.pl-6, .px-6 { padding-left: 4rem !important; }

.p-7 { padding: 6rem !important; }
.pt-7, .py-7 { padding-top: 6rem !important; }
.pr-7, .px-7 { padding-right: 6rem !important; }
.pb-7, .py-7 { padding-bottom: 6rem !important; }
.pl-7, .px-7 { padding-left: 6rem !important; }

.p-8 { padding: 9rem !important; }
.pt-8, .py-8 { padding-top: 9rem !important; }
.pr-8, .px-8 { padding-right: 9rem !important; }
.pb-8, .py-8 { padding-bottom: 9rem !important; }
.pl-8, .px-8 { padding-left: 9rem !important; }

.p-9 { padding: 12rem !important; }
.pt-9, .py-9 { padding-top: 12rem !important; }
.pr-9, .px-9 { padding-right: 12rem !important; }
.pb-9, .py-9 { padding-bottom: 12rem !important; }
.pl-9, .px-9 { padding-left: 12rem !important; }

.p-10 { padding: 15rem !important; }
.pt-10, .py-10 { padding-top: 15rem !important; }
.pr-10, .px-10 { padding-right: 15rem !important; }
.pb-10, .py-10 { padding-bottom: 15rem !important; }
.pl-10, .px-10 { padding-left: 15rem !important; }

.m-6 { margin: 5rem !important; }
.mt-6, .my-6 { margin-top: 5rem !important; }
.mr-6, .mx-6 { margin-right: 5rem !important; }
.mb-6, .my-6 { margin-bottom: 5rem !important; }
.ml-6, .mx-6 { margin-left: 5rem !important; }

.m-7 { margin: 7rem !important; }
.mt-7, .my-7 { margin-top: 7rem !important; }
.mr-7, .mx-7 { margin-right: 7rem !important; }
.mb-7, .my-7 { margin-bottom: 7rem !important; }
.ml-7, .mx-7 { margin-left: 7rem !important; }

.m-8 { margin: 9rem !important; }
.mt-8, .my-8 { margin-top: 9rem !important; }
.mr-8, .mx-8 { margin-right: 9rem !important; }
.mb-8, .my-8 { margin-bottom: 9rem !important; }
.ml-8, .mx-8 { margin-left: 9rem !important; }

.m-9 { margin: 12rem !important; }
.mt-9, .my-9 { margin-top: 12rem !important; }
.mr-9, .mx-9 { margin-right: 12rem !important; }
.mb-9, .my-9 { margin-bottom: 12rem !important; }
.ml-9, .mx-9 { margin-left: 12rem !important; }

.m-10 { margin: 15rem !important; }
.mt-10, .my-10 { margin-top: 15rem !important; }
.mr-10, .mx-10 { margin-right: 15rem !important; }
.mb-10, .my-10 { margin-bottom: 15rem !important; }
.ml-10, .mx-10 { margin-left: 15rem !important; }


@media (min-width: 1200px) {

  .pl-xl-6, .px-xl-6 { padding-left: 5rem!important; }
  .pr-xl-6, .px-xl-6 { padding-right: 5rem!important; }
  .ml-xl-6, .mx-xl-6 { margin-left: 5rem!important; }
  .mr-xl-6, .mx-xl-6 { margin-right: 5rem!important; }

  .pl-xl-7, .px-xl-7 { padding-left: 7rem!important; }
  .pr-xl-7, .px-xl-7 { padding-right: 7rem!important; }
  .ml-xl-7, .mx-xl-7 { margin-left: 7rem!important; }
  .mr-xl-7, .mx-xl-7 { margin-right: 7rem!important; }

  .pl-xl-8, .px-xl-8 { padding-left: 9rem!important; }
  .pr-xl-8, .px-xl-8 { padding-right: 9rem!important; }
  .ml-xl-8, .mx-xl-8 { margin-left: 9rem!important; }
  .mr-xl-8, .mx-xl-8 { margin-right: 9rem!important; }

  .pl-xl-9, .px-xl-9 { padding-left: 12rem!important; }
  .pr-xl-9, .px-xl-9 { padding-right: 12rem!important; }
  .ml-xl-9, .mx-xl-9 { margin-left: 12rem!important; }
  .mr-xl-9, .mx-xl-9 { margin-right: 12rem!important; }

  .pl-xl-10, .px-xl-10 { padding-left: 15rem!important; }
  .pr-xl-10, .px-xl-10 { padding-right: 15rem!important; }
  .ml-xl-10, .mx-xl-10 { margin-left: 15rem!important; }
  .mr-xl-10, .mx-xl-10 { margin-right: 15rem!important; }
  
}

@media (min-width: 992px) {

  .pl-lg-6, .px-lg-6 { padding-left: 5rem!important; }
  .pr-lg-6, .px-lg-6 { padding-right: 5rem!important; }
  .ml-lg-6, .mx-lg-6 { margin-left: 5rem!important; }
  .mr-lg-6, .mx-lg-6 { margin-right: 5rem!important; }

  .pl-lg-7, .px-lg-7 { padding-left: 7rem!important; }
  .pr-lg-7, .px-lg-7 { padding-right: 7rem!important; }
  .ml-lg-7, .mx-lg-7 { margin-left: 7rem!important; }
  .mr-lg-7, .mx-lg-7 { margin-right: 7rem!important; }

  .pl-lg-8, .px-lg-8 { padding-left: 9rem!important; }
  .pr-lg-8, .px-lg-8 { padding-right: 9rem!important; }
  .ml-lg-8, .mx-lg-8 { margin-left: 9rem!important; }
  .mr-lg-8, .mx-lg-8 { margin-right: 9rem!important; }

  .pl-lg-9, .px-lg-9 { padding-left: 12rem!important; }
  .pr-lg-9, .px-lg-9 { padding-right: 12rem!important; }
  .ml-lg-9, .mx-lg-9 { margin-left: 12rem!important; }
  .mr-lg-9, .mx-lg-9 { margin-right: 12rem!important; }

  .pl-lg-10, .px-lg-10 { padding-left: 15rem!important; }
  .pr-lg-10, .px-lg-10 { padding-right: 15rem!important; }
  .ml-lg-10, .mx-lg-10 { margin-left: 15rem!important; }
  .mr-lg-10, .mx-lg-10 { margin-right: 15rem!important; }

}

@media (min-width: 768px) {

  .pl-md-6, .px-md-6 { padding-left: 5rem!important; }
  .pr-md-6, .px-md-6 { padding-right: 5rem!important; }
  .ml-md-6, .mx-md-6 { margin-left: 5rem!important; }
  .mr-md-6, .mx-md-6 { margin-right: 5rem!important; }

  .pl-md-7, .px-md-7 { padding-left: 7rem!important; }
  .pr-md-7, .px-md-7 { padding-right: 7rem!important; }
  .ml-md-7, .mx-md-7 { margin-left: 7rem!important; }
  .mr-md-7, .mx-md-7 { margin-right: 7rem!important; }

  .pl-md-8, .px-md-8 { padding-left: 9rem!important; }
  .pr-md-8, .px-md-8 { padding-right: 9rem!important; }
  .ml-md-8, .mx-md-8 { margin-left: 9rem!important; }
  .mr-md-8, .mx-md-8 { margin-right: 9rem!important; }

  .pl-md-9, .px-md-9 { padding-left: 12rem!important; }
  .pr-md-9, .px-md-9 { padding-right: 12rem!important; }
  .ml-md-9, .mx-md-9 { margin-left: 12rem!important; }
  .mr-md-9, .mx-md-9 { margin-right: 12rem!important; }

  .pl-md-10, .px-md-10 { padding-left: 15rem!important; }
  .pr-md-10, .px-md-10 { padding-right: 15rem!important; }
  .ml-md-10, .mx-md-10 { margin-left: 15rem!important; }
  .mr-md-10, .mx-md-10 { margin-right: 15rem!important; }

}

@media (min-width: 576px) {

  .pl-sm-6, .px-sm-6 { padding-left: 5rem!important; }
  .pr-sm-6, .px-sm-6 { padding-right: 5rem!important; }
  .ml-sm-6, .mx-sm-6 { margin-left: 5rem!important; }
  .mr-sm-6, .mx-sm-6 { margin-right: 5rem!important; }

  .pl-sm-7, .px-sm-7 { padding-left: 7rem!important; }
  .pr-sm-7, .px-sm-7 { padding-right: 7rem!important; }
  .ml-sm-7, .mx-sm-7 { margin-left: 7rem!important; }
  .mr-sm-7, .mx-sm-7 { margin-right: 7rem!important; }

  .pl-sm-8, .px-sm-8 { padding-left: 9rem!important; }
  .pr-sm-8, .px-sm-8 { padding-right: 9rem!important; }
  .ml-sm-8, .mx-sm-8 { margin-left: 9rem!important; }
  .mr-sm-8, .mx-sm-8 { margin-right: 9rem!important; }

  .pl-sm-9, .px-sm-9 { padding-left: 12rem!important; }
  .pr-sm-9, .px-sm-9 { padding-right: 12rem!important; }
  .ml-sm-9, .mx-sm-9 { margin-left: 12rem!important; }
  .mr-sm-9, .mx-sm-9 { margin-right: 12rem!important; }

  .pl-sm-10, .px-sm-10 { padding-left: 15rem!important; }
  .pr-sm-10, .px-sm-10 { padding-right: 15rem!important; }
  .ml-sm-10, .mx-sm-10 { margin-left: 15rem!important; }
  .mr-sm-10, .mx-sm-10 { margin-right: 15rem!important; }

}

/* max and min 50% */
.mw-50 { max-width: 50%!important; }
.mh-50 { max-height: 50%!important; }
.min-w-50 { min-width: 50%!important; }
.min-h-50 { min-height: 50%!important; }