/* Custom spacing utilities (6-10 are new to EDB */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer * 15,
);

/* Colors */
$blue: #00adf2;
$green: #67a628;

/* Font weights */
$font-weight-normal: 300;
$font-weight-light: 200;
$font-weight-bold: 600;
$headings-font-weight: 600;

/* Font-sizes */
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * .9;

/* Links */
$link-hover-decoration: none;
