// EDB Ivory Bootstrap Theme

// colors
$blue: #4d89b1; // rgb(77, 137, 177)
$indigo: #6610f2; // rgb(103, 16, 242)
$purple: #8171b5; // rgb(129, 113, 181)
$pink: #e83e8c; // rgb(232, 62, 141)
$red: #b22424; // rgb(178, 36, 36)
$orange: #ff3e00; // rgb(255, 62, 0)
$yellow: #ffa319; // rgb(255, 163, 25)
$green: #88b84a; // rgb(136, 184, 74)
$teal: #20c997; // rgb(32, 201, 151)
$cyan: #21abc1; // rgb(33, 171, 193)
$secondary: #7aabcc; // rgb(122, 171, 204)
$light: #f0f4f7; // rgb(240, 244, 247)
$dark: #102d40; // rgb(16, 45, 64)
$info: $orange;
$gray-100: #ebeff2;
$gray-200: #ced5d9;
$gray-300: #b2babf;
$gray-400: #99a2a8;
$gray-500: #7b868c;
$gray-600: #626c73;
$gray-700: #495359;
$gray-800: #323a40;
$gray-900: #1d2226;
$yiq-contrasted-threshold: 165;
$yiq-text-dark: #000000;

// typography
$body-color: $dark;
$font-family-sans-serif: "Supreme-Variable", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-normal: 300;
$font-weight-bold: 600;
$headings-font-weight: 400;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;
$text-muted: $gray-500;
$code-color: #457a00;
$link-hover-decoration: none;

// forms
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-bg: $gray-100;
$input-border-color: $gray-100;
$input-color: $dark;
$input-placeholder-color: $gray-400;
$custom-control-indicator-border-color: $gray-300;
$label-margin-bottom: 0;

// other stuff
$border-radius-lg: 1rem;
$border-radius: 0.2rem;
$btn-border-radius-lg: $border-radius;
$card-border-radius: $border-radius-lg;
$border-color: $gray-100;
$breadcrumb-bg: $gray-100;
$tooltip-bg: $dark;
$progress-bg: $gray-100;
$table-head-bg: $gray-100;
$table-dark-bg: $dark;
$modal-header-border-color: none;
$dropdown-link-active-bg: $gray-200;

/* Custom spacing utilities (6-10 are new to EDB */
/* Comes before Bootstrap SASS to override defaults */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer * 15,
);
