$blue-coal: #28495A;
$aquamarine: #136A7F;
$juniper: #05825F;
$teal-for-fears: #429D9E;
$goldleaf: #E7C568;
$tangerine-dream: #F89E5D;
$rust: #E96F4C;
$graphite: #364144;
$concrete: #707070;
$elephant-hide: #97928C;

// light theme 
$primary:       $aquamarine;
$secondary:     $elephant-hide;
$success:       $juniper;
$info:          $goldleaf;
$warning:       $tangerine-dream;
$danger:        $rust;
$light:         lighten($elephant-hide, 36%);
$dark:          $blue-coal;

.fill-orange {
  fill: $teal-for-fears;
}

// typography
$font-family-sans-serif: "Supreme-Variable", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-normal: 350;
$font-weight-bold: 600;
$headings-font-weight: 400;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;
//$text-muted: $gray-500;
$code-color: #4F6E26;
$link-decoration: none;
$link-hover-decoration: underline;

// forms
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
//$input-bg: $gray-100;
//$input-border-color: $gray-100;
//$input-color: $dark;
//$input-placeholder-color: $gray-400;
//$custom-control-indicator-border-color: $gray-300;
$label-margin-bottom: 0;

// other stuff
$border-radius-lg: 1rem;
$border-radius: 0.4rem;
$btn-border-radius-lg: $border-radius;
$card-border-radius: $border-radius-lg;
//$border-color: $gray-100;
//$tooltip-bg: $dark;
//$progress-bg: $gray-100;
//$table-head-bg: $gray-100;
//$table-dark-bg: $dark;
$modal-header-border-color: none;
//$dropdown-link-active-bg: $gray-200;

/* Custom spacing utilities (6-10 are new to EDB */
/* Comes before Bootstrap SASS to override defaults */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer * 15,
);

// dark mode alternate colors
$link-shade-percentage:             20%;
$primary-text-emphasis-dark:        tint-color($goldleaf, 40%);
$primary-bg-subtle-dark:            shade-color($goldleaf, 80%);
$primary-border-subtle-dark:        shade-color($goldleaf, 40%);
$link-color-dark:                   $goldleaf;
$link-hover-color-dark:             shift-color($link-color-dark, $link-shade-percentage);
$body-bg-dark:                      $blue-coal;
$body-secondary-bg-dark:            $graphite;
//$body-tertiary-color:               $aquamarine;
$body-tertiary-bg:                  $elephant-hide;         
$code-color-dark:                   #21B571;

//$mark-color:                        $body-color !default;
$mark-bg:                             $tangerine-dream;
$mark-bg-dark:                        $tangerine-dream;
$mark-color-dark:                     $blue-coal;
