// EDB Ivory Bootstrap Theme

// colors
$blue:        #4D89B1; // rgb(77, 137, 177)
$indigo:      #6610F2; // rgb(103, 16, 242)
$purple:      #8171B5; // rgb(129, 113, 181)
$pink:        #E83E8C; // rgb(232, 62, 141)
$red:         #B22424; // rgb(178, 36, 36)
$orange:      #FF3E00; // rgb(255, 62, 0)
$yellow:      #FFA319; // rgb(255, 163, 25)
$green:       #88B84A; // rgb(136, 184, 74)
$teal:        #20C997; // rgb(32, 201, 151)
$cyan:        #21ABC1; // rgb(33, 171, 193)
$secondary:   #7AABCC; // rgb(122, 171, 204)
$light:       #F0F4F7; // rgb(240, 244, 247)
$dark:        #102D40; // rgb(16, 45, 64)
$info:        $orange;
$gray-100:    #EBEFF2;
$gray-200:    #CED5D9;
$gray-300:    #B2BABF;
$gray-400:    #99A2A8;
$gray-500:    #7B868C;
$gray-600:    #626C73;
$gray-700:    #495359;
$gray-800:    #323A40;
$gray-900:    #1D2226;
$yiq-contrasted-threshold: 165;
$yiq-text-dark: #000000;

// typography
$body-color: $dark;
$font-family-sans-serif: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-normal: 300;
$font-weight-bold: 600;
$headings-font-weight: 400;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;
$text-muted: $gray-500;
$code-color: #457A00;
$link-hover-decoration: none;

// forms
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;
$input-bg: $gray-100;
$input-border-color: $gray-100;
$input-color: $dark;
$input-placeholder-color: $gray-400;
$custom-control-indicator-border-color: $gray-300;
$label-margin-bottom: 0;

// other stuff
$border-radius-lg: .2rem;
$border-radius: .2rem;
$border-color: $gray-100;
$breadcrumb-bg: $gray-100;
$tooltip-bg: $dark;
$progress-bg: $gray-100;
$table-head-bg: $gray-100;
$table-dark-bg: $dark;
$modal-header-border-color: none;
$dropdown-link-active-bg: $gray-200;

/* Custom spacing utilities (6-10 are new to EDB */
/* Comes before Bootstrap SASS to override defaults */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer * 15,
);

