services:
  docs-link-checker:
    build:
      context: ../tools/automation/actions/link-check
      dockerfile_inline: |
        FROM node:20-alpine 
        COPY . /app
        WORKDIR /app
        RUN npm i

    container_name: docs-link-check
    hostname: docs-link-check
    working_dir: /app
    command: sh -c "npm ci --loglevel=error && node index.js /app"
    volumes:
      - ../tools/automation/actions/link-check/index.js:/app/index.js:ro
      - ../tools/automation/actions/link-check/package-lock.json:/app/package-lock.json:ro
      - ../tools/automation/actions/link-check/package.json:/app/package.json:ro
      - ../product_docs/docs:/app/product_docs/docs
      - ../advocacy_docs:/app/advocacy_docs
