services:
  docs-pdf-builder:
    build:
      context: ../
      dockerfile: docker/images/Dockerfile.pdf-builder
    image: edb/docs-pdf-builder
    container_name: docs-pdf-builder
    hostname: docs-pdf-builder
    working_dir: /app
    volumes:
      - ../product_docs/docs:/app/product_docs/docs
      - ../advocacy_docs/:/app/advocacy_docs
      - ../scripts/pdf:/app/scripts/pdf:ro
      - ../scripts/pdf/package-lock.json:/app/package-lock.json
      - ../scripts/pdf/package.json:/app/package.json
