
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="eprs" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /eprs/latest/03_installation/03_installing_rpm_package/arm64/
{% endblock frontmatter %}
