{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-xdb{% endset %}
{% block installCommand %}
You can install all Replication Server components with a single install command, or you may choose to install selected, individual components by installing only those particular packages.

To install all Replication Server components:
```shell
zypper -n install {{ packageName }}
```

To install an individual component:
```shell
zypper install 'package_name'
```

Where `package_name` is:

| Package name         | Component                                                                  |
| -------------------- | -------------------------------------------------------------------------- |
| `edb-xdb-console`    | EPRS Replication Console and the Replication Server Command Line Interface |
| `edb-xdb-publisher`  | Publication server                                                         |
| `edb-xdb-subscriber` | Subscription server                                                        |

{% endblock installCommand %}