{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-xdb{% endset %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: eprs/{{ product.version }}/installing/linux_{{platform.arch}}/eprs_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - eprs/{{ product.version }}/03_installation/03_installing_rpm_package/{{deploy.expand_arch[platform.arch]}}/eprs_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block postgresqlalternative %}{% endblock postgresqlalternative %}

{% block installCommand %}
You can install all Replication Server components with a single install command, or you may choose to install selected, individual components by installing only those particular packages.

To install all Replication Server components:

```shell
sudo {{ packageManager }}  -y install {{ packageName }}
```

To install an individual component:
```shell
sudo {{ packageManager }}  -y install <package_name>
```

Where `<package_name>` is:

| Package name          | Component                                                             |
| --------------------- | --------------------------------------------------------------------- |
| `edb-xdb-console`     | Replication console and the Replication Server command line interface |
| `edb-xdb-publisher`   | Publication server                                                    |
| `edb-xdb-subscriber`  | Subscription server                                                   |

{% endblock installCommand %}
{% block postinstall %}
## Initial configuration
Before using Replication Server, you must download and install JDBC drivers. See [Installing a JDBC driver](/eprs/7/installing/installing_jdbc_driver) for details.
{% endblock postinstall %}