{% extends "platformBase/index.njk" %}
{% set productShortname="eprs" %}

{% block title %}
navTitle: Installing
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
{{super()}}
redirects:
  - /eprs/7/03_installation/
  - /eprs/7/03_installation/03_installing_rpm_package/
  - /eprs/7/03_installation/03_installing_rpm_package/x86_amd64/03_eprs_rhel7_x86/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- installing_jdbc_driver
- installation_details
- upgrading_replication_server
- uninstalling
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
