{% extends "platformBase/index.njk" %}
{% set productShortname="eprs" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /eprs/latest/03_installation/
  - /eprs/latest/03_installation/03_installing_rpm_package/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- installing_jdbc_driver
- installation_details
- upgrading_replication_server
- uninstalling
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
