
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="eprs" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /eprs/latest/03_installation/03_installing_rpm_package/ibm_power_ppc64le/
{% endblock frontmatter %}
