{% extends "products/replication-server/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% block installCommand %}
You can install all Replication Server components with a single install command, or you may choose to install selected, individual components by installing only those particular packages.

To install all Replication Server components:
```shell
sudo {{ packageManager }}  -n install {{ packageName }}
```

To install an individual component:
```shell
sudo {{ packageManager }}  -n install <package_name>
```

Where `<package_name>` is:

| Package name          | Component                                                             |
| --------------------- | --------------------------------------------------------------------- |
| `edb-xdb-console`     | Replication console and the Replication Server command line interface |
| `edb-xdb-publisher`   | Publication server                                                    |
| `edb-xdb-subscriber`  | Subscription server                                                   |

{% endblock installCommand %}