
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="eprs" %}

{% block frontmatter %}
{{super()}}
redirects:
  - /eprs/latest/03_installation/03_installing_rpm_package/x86_amd64/
{% endblock frontmatter %}
