{% extends "platformBase/index.njk" %}
{% set productShortname="edb-dms-reader" %}

{% block title %}
navTitle: Installing reader
title: Installing {{ product.name }} on Linux
{% endblock title %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/hybrid-manager/using_hybrid_manager/migration/installing/index.mdx
indexCards: none
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
{% endblock navigation %}