{% extends "platformBase/index.njk" %}
{% set productShortname="edb-dms-reader" %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing/index.mdx
indexCards: none
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
{% endblock navigation %}