
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edb-dms-reader" %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing/linux_x86_64/index.mdx
indexCards: none
{% endblock frontmatter %}
