
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edb-dms-reader" %}

{% block frontmatter %}
deployPath: edb-postgres-ai/migration-etl/{{productShortname}}/{{ product.version }}/installing/linux_x86_64/index.mdx
{% endblock frontmatter %}
