{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="edb-dms-writer" %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing2/linux_arm64/index.mdx
indexCards: none
{% endblock frontmatter %}