{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="edb-dms-writer" %}

{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/latest/installing2/linux_arm64/index.mdx
redirects:
- advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing2/linux_arm64/index.mdx
- advocacy_docs/edb-postgres-ai/hybrid-manager/using_hybrid_manager/migration/installing2/linux_arm64/index.mdx
indexCards: none
{% endblock frontmatter %}