{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName = packageName or 'cdcwriter' %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing2/linux_{{platform.arch}}/edb-dms-writer_{{deploy.map_platform[platform.name]}}.mdx

{% endblock frontmatter %}

{% block installCommand %}
Install the EDB DMS Writer (packaged as `cdcwriter`):
```shell
sudo {{packageManager}} install {{ packageName }}
```
{% endblock installCommand %}
