{% extends "platformBase/index.njk" %}
{% set productShortname="edb-dms-writer" %}

{% block title %}
navTitle: Installing writer
title: Installing {{ product.name }} on Linux
{% endblock title %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/migration-etl/data-migration-service/getting_started/installing2/index.mdx
indexCards: none
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
{% endblock navigation %}