
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="edb-dms-writer" %}

{% block frontmatter %}
deployPath: advocacy_docs/edb-postgres-ai/hybrid-manager/using_hybrid_manager/migration/installing2/linux_x86_64/index.mdx
indexCards: none
{% endblock frontmatter %}
