{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as15-mongo_fdw{% endset %}
{% set packageName1 %}edb-postgresextended<X>-mongo-fdw{% endset %}
{% set packageName2 %}postgresql-<X>-mongo-fdw{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: mongo_data_adapter/{{ product.version }}/installing/linux_{{platform.arch}}/mongo_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/{{deploy.expand_arch[platform.arch]}}/mongo_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block product_prerequisites %}{% include "platformBase/_epasinstallsameserver.njk" %}
{{ super() }}
{% endblock product_prerequisites %}
{% block installCommand %}
{{ super() }}
{% include "platformBase/_epasVersionInPackageName.njk" %}
```shell
# For EDB Postgres Extended Server:
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName1 }}
# For PostgreSQL:
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName2 }}
```
Where `<X>` is the version of your Postgres. Replace `<X>` with the version of Postgres you are using.
{% endblock installCommand %}