{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as14-mongo_fdw{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% include "platformBase/_login.njk" %}
{% endblock prodprereq %}
{% block installCommand %}
{{ super() }}
{% include "platformBase/_epasVersionInPackageName.njk" %}
{% endblock installCommand %}