{% extends "platformBase/index.njk" %}
{% set productShortname="mongo" %}

{% block frontmatter %}
deployPath: mongo_data_adapter/{{ product.version }}/installing/index.mdx
redirects:
  - /mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/
  - /mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/04_mongo_centos7_x86/
  - /mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/09_mongo_ubuntu20_deb10_x86/
  - /mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/ibm_power_ppc64le/17_mongo_sles15_ppcle/
  - /mongo_data_adapter/{{ product.version }}/04_installing_the_mongo_data_adapter/x86_amd64/07_mongo_sles12_x86/

{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
{% endblock navigation %}
