
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="mongo" %}

{% block frontmatter %}
deployPath: mongo_data_adapter/{{ product.version }}/installing/linux_ppc64le/index.mdx
redirects:
  - /mongo_data_adapter/latest/04_installing_the_mongo_data_adapter/ibm_power_ppc64le/
{% endblock frontmatter %}

{% block final %}
After you complete the installation, see [Initial configuration](../../configuring).
{% endblock final %}
