{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/linux_arm64/index.mdx
{% endblock frontmatter %}

{% block final %}
After you complete the installation, see [Initial configuration](../../configuring).
{% endblock final %}
