{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as14-hdfs_fdw{% endset %}
{% block installCommand %}
{{ super() }}
{% include "platformBase/_epasVersionInPackageName.njk" %}
{% endblock installCommand %}