{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as<xx>-hdfs_fdw{% endset %}
{% block installCommand %}
{{ super() }}
{% include "products/hadoop-foreign-data-wrapper/_installcommand.njk" %}
{% endblock installCommand %}