{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as14-hdfs-fdw{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/linux_{{platform.arch}}/hadoop_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/{{deploy.expand_arch[platform.arch]}}/hadoop_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace("_64", "")}}.mdx
{% endblock frontmatter %}

{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% endblock prodprereq %}
{% block installCommand %}
{{ super() }}
{% include "platformBase/_epasVersionInPackageName.njk" %}
{% endblock installCommand %}