{% extends "platformBase/index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/index.mdx
redirects:
  - /hadoop_data_adapter/latest/05_installing_the_hadoop_data_adapter/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
{% endblock navigation %}
