{% extends "platformBase/index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/index.mdx
redirects:
  - /hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/
  - /hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/04_hadoop_centos7_x86/
  - /hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/19_hadoop_sles12_ppcle/
  - /hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/x86_amd64/01_hadoop_rhel8_x86/
  - /hadoop_data_adapter/{{ product.version }}/05_installing_the_hadoop_data_adapter/x86_amd64/02_hadoop_other_linux8_x86/  
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
{% endblock navigation %}
