
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/linux_ppc64le/index.mdx
redirects:
  - /hadoop_data_adapter/latest/05_installing_the_hadoop_data_adapter/ibm_power_ppc64le/
{% endblock frontmatter %}

{% block final %}
After you complete the installation, see [Initial configuration](../../configuring).
{% endblock final %}
