{% extends "products/hadoop-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block redhatConfig %}#  Enable additional repositories to resolve dependencies:
  sudo dnf config-manager --set-enabled PowerTools
{% endblock redhatConfig %}