{% extends "products/hadoop-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block redhatConfig %}#  Enable additional repositories to resolve dependencies:
  sudo dnf config-manager --set-enabled PowerTools

  #  Disable the built-in PostgreSQL module:
  sudo dnf -qy module disable postgresql{% endblock redhatConfig %}