{% extends "products/hadoop-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "rhel-9-or-ol-9" %}
{% block prerequisites %}
{{ super() }}
- Enable additional repositories to resolve dependencies:
  ```shell  
  sudo dnf config-manager --set-enabled PowerTools
  ```
{% endblock prerequisites %}