
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: hadoop_data_adapter/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects:
  - /hadoop_data_adapter/latest/05_installing_the_hadoop_data_adapter/x86_amd64/
{% endblock frontmatter %}

{% block final %}
After you complete the installation, see [Initial configuration](../../configuring).
{% endblock final %}
