1. To ensure the installation and initial configuration was successful, check the status of your cluster:

   ```sh
   /usr/edb/as{{ product.version }}/bin/pg_ctl status -D /var/lib/edb/as{{ product.version }}/data
   ```
   See [Managing Cluster > Managing Services] for more information.