{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "almalinux-9-or-rocky-linux-9" %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}