{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "almalinux-8-or-rocky-linux-8" %}
{% block prerequisites %}
{{ super() }}
```shell
# Disable the built-in PostgreSQL module:
dnf -qy module disable postgresql
```
{% endblock prerequisites %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}