{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "centos-8" %}
{% block prerequisites %}
{{ super() }}
1. Disable the built-in PostgreSQL module:

   ```sh
   dnf -qy module disable postgresql
   ```
{% endblock prerequisites %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}
{% block postinstall %}
{% include "products/edb-postgres-advanced-server/_centos-rhel-postinstall.njk" %}
{{ super() }}
{% endblock postinstall %}
{% block connectdatabasecluster %}
{% include "products/edb-postgres-advanced-server/_centos-rhel-connectdatabasecluster.njk" %}
{{ super() }}
{% endblock connectdatabasecluster %}
