{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "debian-10" %}
{% block debian_ubuntu %}
For Debian/Ubuntu platforms, initializing and starting of the database cluster is done along with the package installation.
{% endblock debian_ubuntu %}