{% extends "platformBase/index.njk" %}
{% set productShortname="epas" %}

{% block frontmatter %}
{{super()}}
redirects:
 - /epas/{{product.version}}/epas_inst_linux/
 - /epas/{{product.version}}/epas_inst_linux/installing_epas_using_edb_repository/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- linux_install_details
- windows_install_details
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
