{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block redhatFamily %}{% include "platformBase/_redhat-family.njk" %}
{% endblock redhatFamily %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}