{% extends "products/edb-postgres-advanced-server/rhel-7.njk" %}
{% set includePPC = true %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}