{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "rhel-9-or-ol-9" %}
{% block prerequisites %}
{{ super() }}
- If you are also installing PostGIS, enable additional repositories to resolve dependencies:
  ```shell
  ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-9-${ARCH}-rpms"
  ```    
  !!!note
     If you are using a public cloud RHEL image, `subscription manager` may not be enabled and enabling it may incur unnecessary charges. Equivalent packages may be available under a different name such as `codeready-builder-for-rhel-9-rhui-rpms`. Consult the documentation for the RHEL image you are using to determine how to install `codeready-builder`.
{% endblock prerequisites %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}