{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block rhel8 %}
  # If you are also installing PostGIS, enable additional repositories to resolve dependencies:
    ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"
{% endblock rhel8 %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}