{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "rhel-8-or-ol-8" %}
{% block prerequisites %}
{{ super() }}
- If you're also installing PostGIS, enable additional repositories to resolve dependencies:
  ```shell
  ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-8-${ARCH}-rpms"
  ```    
  !!!note

  If you're using a public cloud RHEL image, `subscription manager` might not be enabled. Enabling it might incur unnecessary charges. Equivalent packages might be available under a different name, such as `codeready-builder-for-rhel-8-rhui-rpms`. To determine how to install `codeready-builder`, consult the documentation for the RHEL image you're using.
  
  !!!
{% endblock prerequisites %}
{% block installCommand %}
{{ super() }}
{% include "products/edb-postgres-advanced-server/_centos-rhel-installcommand.njk" %}
{% endblock installCommand %}