{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% set packageManager = "zypper" %}
{% block slesoption %}
Where `<xx>` is the version of the EDB Postgres Advanced server you are installing. For example, if you are installing version 14, the package name would be `edb-as14-server`.

To install an individual component:

```shell
sudo {{packageManager}} -n install <package_name>
```
Where `package_name` can be any of the available packages from the [available package list](/epas/latest/epas_inst_linux/install_details/rpm_packages/).
{% endblock slesoption %}
