{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% set includePPC = true %}
{% block postinstall %}
{% include "products/edb-postgres-advanced-server/_centos-rhel-postinstall.njk" %}
{{ super() }}
{% endblock postinstall %}
