{% extends "products/edb-postgres-advanced-server/base.njk" %}
{% block debian_ubuntu %}This section steps you through getting started with your cluster including logging in, ensuring the installation was successful, connecting to your cluster, and creating the user password.

```shell{% endblock debian_ubuntu %}