
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="epas" %}

{% block frontmatter %}
{{super()}}
redirects: 
 - ../03_using_a_package_manager_to_install_advanced_server
 - /epas/{{product.version}}/epas_inst_linux/installing_epas_using_edb_repository/x86_amd64/
{% endblock frontmatter %}
