{% extends "products/migration-toolkit/base.njk" %}
{% set platformBaseTemplate = "almalinux-9-or-rocky-linux-9" %}
{% set packageManager = "dnf" %}
{% block prerequisites %}{% endblock prerequisites %}
