{% extends "products/migration-toolkit/base.njk" %}
{% set platformBaseTemplate = "almalinux-9-or-rocky-linux-9" %}
{% set packageManager = "dnf" %}
{% block prerequisites %}
- Address other prerequisites
  ```shell
  #  Install the EPEL repository:
  sudo {{ packageManager }} -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm

  #  Enable additional repositories to resolve dependencies:
  ARCH=$( /bin/arch ) subscription-manager repos --enable "codeready-builder-for-rhel-9-${ARCH}-rpms"
  ```
{% endblock prerequisites %}