
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="mtk" %}

{% block frontmatter %}
deployPath: migration_toolkit/{{ product.version }}/installing/linux_arm64/index.mdx
{% endblock frontmatter %}
