{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-migrationtoolkit{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}
{% endblock prodprereq %}
{% block postinstall %}
## Initial configuration
Before invoking Migration Toolkit, you must download and install JDBC drivers for connecting to the source and target databases. See [Installing a JDBC driver](/migration_toolkit/latest/05_installing_mtk/installing_jdbc_driver/) for details.
{% endblock postinstall %}