{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-migrationtoolkit{% endset %}
{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: migration_toolkit/{{ product.version }}/installing/linux_{{platform.arch}}/mtk_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - migration_toolkit/{{ product.version }}/05_installing_mtk/install_on_linux/{{deploy.expand_arch[platform.arch]}}/mtk55_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}
{% block postgresqlalternative %}{% endblock postgresqlalternative %}

{% block postinstall %}
## Initial configuration
Before invoking Migration Toolkit, you must download and install JDBC drivers for connecting to the source and target databases. See [Installing a JDBC driver](/migration_toolkit/latest/installing/installing_jdbc_driver/) for details.
{% endblock postinstall %}