{% extends "platformBase/index.njk" %}
{% set productShortname="mtk" %}

{% block title %}
navTitle: Installing
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
deployPath: migration_toolkit/{{ product.version }}/installing/index.mdx
redirects:
  - /migration_toolkit/{{ product.version }}/05_installing_mtk/install_on_linux
  - /migration_toolkit/{{ product.version }}/05_installing_mtk
  - /migration_toolkit/{{ product.version }}/05_installing_mtk/install_on_linux_using_edb_repo/03_mtk55_rhel7_x86/
  - /migration_toolkit/{{ product.version }}/05_installing_mtk/install_on_linux/ibm_power_ppc64le/11_mtk55_sles15_ppcle/

legacyRedirects:
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_mac.html"
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_debian_or_ubuntu.html"
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_windows.html"
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_centos_or_rhel_ppcle.html"
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_sles.html"
  - "/edb-docs/d/edb-postgres-migration-toolkit/user-guides/user-guide/55.0.0/installing_on_centos_or_rhel.html"
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- install_on_mac
- install_on_windows
- installing_jdbc_driver
{% endblock navigation %}

{% block otherosinstall %}
## Macintosh
- [Mac OS X](macos)

## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}