{% extends "products/migration-toolkit/base.njk" %}
{% set platformBaseTemplate = "rhel-7-or-ol-7" %}
{% set packageManager = "yum" %}
{% set epelRepo = "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm" %}
{% block redhatConfig %}{% endblock redhatConfig %}