{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-pgpool<xx>{% endset %}
{% block installCommand %}
```shell
zypper -n install {{ packageName }}
```
Where xx is the version of EDB PbPool-II you are installing.
{% endblock installCommand %}
