
{% extends "platformBase/arm64_index.njk" %}
{% set productShortname="odbc" %}

{% block frontmatter %}
deployPath: odbc_connector/{{ product.version }}/installing/linux_arm64/index.mdx
{% endblock frontmatter %}
