{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-odbc{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

{% endblock prodprereq %}
{% block installCommand %}{% block odbcconnector %}
```shell
sudo {{packageManager}} -y install {{ packageName }}
sudo {{packageManager}} -y install {{ packageName }}-devel
```
{% endblock odbcconnector %}{% endblock installCommand %}

