{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-odbc{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: odbc_connector/{{ product.version }}/installing/linux_{{platform.arch}}/odbc_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - odbc_connector/{{ product.version }}/03_installing_edb_odbc/01_installing_linux/{{deploy.expand_arch[platform.arch]}}/odbc13_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}

{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

{% endblock prodprereq %}

{% block installCommand %}
```shell
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}{{ packageDevSuffix }}
```
{% endblock installCommand %}

