{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-odbc{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstalldiffserver.njk" %}

{% endblock prodprereq %}

{% block installCommand %}
```shell
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}
sudo {{packageManager}} {{packageManagerNoninteractive}} install {{ packageName }}{{ packageDevSuffix }}
```
{% endblock installCommand %}

