{% extends "platformBase/index.njk" %}
{% set productShortname="odbc" %}

{% block title %}
navTitle: Installing
title: Installing {{ product.name }}
{% endblock title %}

{% block frontmatter %}
deployPath: odbc_connector/{{ product.version }}/installing/index.mdx
redirects:
  - ../03_edb-odbc_overview/01_installing_edb-odbc
  - /odbc_connector/latest/03_installing_edb_odbc/
  - /odbc_connector/latest/03_installing_edb_odbc/01_installing_linux/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
- windows
- upgrading
{% endblock navigation %}

{% block otherosinstall %}
## Windows
- [Windows Server 2019](windows)
{% endblock otherosinstall %}
