
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="odbc" %}

{% block frontmatter %}
deployPath: odbc_connector/{{ product.version }}/installing/linux_ppc64le/index.mdx
redirects: 
 - /odbc_connector/latest/03_installing_edb_odbc/01_installing_linux/ibm_power_ppc64le/
{% endblock frontmatter %}
