{% extends "products/edb-odbc-connector/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block odbcconnector %}
```shell
sudo {{packageManager}} -n install {{ packageName }}
sudo {{packageManager}} -n install {{ packageName }}-devel
```
{% endblock odbcconnector %}