{% extends "products/edb-odbc-connector/base.njk" %}
{% block odbcconnector %}
```shell
sudo {{packageManager}} -y install {{ packageName }}
sudo {{packageManager}} -y install {{ packageName }}-dev
```
{% endblock odbcconnector %}