
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="odbc" %}

{% block frontmatter %}
deployPath: odbc_connector/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects: 
 - /odbc_connector/latest/03_installing_edb_odbc/01_installing_linux/x86_amd64/
 {% endblock frontmatter %}
