
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="hadoop" %}

{% block frontmatter %}
deployPath: odbc_connector/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects: 
  - /hadoop_data_adapter/latest/05_installing_the_hadoop_data_adapter/x86_amd64/
{% endblock frontmatter %}
