{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "almalinux-8-or-rocky-linux-8" %}
{% block prerequisites %}
{{ super() }}
1. Disable the built-in PostgreSQL module:

   ```sh
   dnf -qy module disable postgresql
   ```
{% endblock prerequisites %}