{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as<xx>-mysql<y>-fdw{% endset %}
{% block prodprereq %}{% include "platformBase/_epasinstallsameserver.njk" %}

{% endblock prodprereq %}
{% block installCommand %}
{{ super() }}
Where `<xx>` is the version of EDB Postgres Advanced server and `<y>` is the version of MySQL to be installed. For example if EDB Postgres Version is 13 and MySQL version is 8 then the package name is `edb-as13-mysql8-fdw`.
{% endblock installCommand %}