{% extends "platformBase/" + platformBaseTemplate + '.njk' %}
{% set packageName %}edb-as<xx>-mysql<y>-fdw{% endset %}

{% import "platformBase/_deploymentConstants.njk" as deploy %}
{% block frontmatter %}
{# 
  If you modify deployment path here, please first copy the old expression
  and add it to the list under "redirects:" below - this ensures we don't 
  break any existing links.  
#}
deployPath: mysql_data_adapter/{{ product.version }}/installing/linux_{{platform.arch}}/mysql_{{deploy.map_platform[platform.name]}}.mdx
redirects:
  - mysql_data_adapter/{{ product.version }}/04_installing_the_mysql_data_adapter/{{deploy.expand_arch[platform.arch]}}/mysql_{{deploy.map_platform_old[platform.name]}}_{{platform.arch | replace(r/_?64/g, "")}}.mdx
{% endblock frontmatter %}
{% block postgresqlalternative %}{% endblock postgresqlalternative %}

{% block product_prerequisites %}{% include "platformBase/_epasinstallsameserver.njk" %}
{{ super() }}
{% endblock product_prerequisites %}
{% block installCommand %}
{{ super() }}
Where `<xx>` is the version of EDB Postgres Advanced server and `<y>` is the version of MySQL to be installed. For example if EDB Postgres Version is 15 and MySQL version is 8 then the package name is `edb-as15-mysql8-fdw`.
{% endblock installCommand %}