{% extends "platformBase/index.njk" %}
{% set productShortname="mysql" %}

{% block frontmatter %}
deployPath: mysql_data_adapter/{{ product.version }}/installing/index.mdx
redirects:
  - /mysql_data_adapter/{{ product.version }}/04_installing_the_mysql_data_adapter/
  - /mysql_data_adapter/{{ product.version }}/04_installing_the_mysql_data_adapter/02_mysql_other_linux8_x86/
  - /mysql_data_adapter/{{ product.version }}/04_installing_the_mysql_data_adapter/07_mysql_sles12_x86/
  - /mysql_data_adapter/{{ product.version }}/04_installing_the_mysql_data_adapter/x86_amd64/09b_mysql_deb10_x86/
{% endblock frontmatter %}
{% block navigation %}
- linux_x86_64
- linux_ppc64le
{% endblock navigation %}
