
{% extends "platformBase/ppc64le_index.njk" %}
{% set productShortname="mysql" %}

{% block frontmatter %}
deployPath: mysql_data_adapter/{{ product.version }}/installing/linux_ppc64le/index.mdx
redirects:
  - /mysql_data_adapter/latest/04_installing_the_mysql_data_adapter/ibm_power_ppc64le/
{% endblock frontmatter %}
