{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "rhel-7-or-ol-7" %}
{% block mysqlfdw %}
  # Download and install the MYSQL repo:
  yum -y install https://dev.mysql.com/get/mysql80-community-release-el7-3.noarch.rpm

  # Enable the MYSQL repo:
  # For MySQL 8:
  yum -y install --enablerepo=mysql80-community --disablerepo=mysql57-community edb-as<xx>-mysql8_fdw
  
  # For MySQL 5:
  yum -y install --enablerepo=mysql57-community --disablerepo=mysql80-community edb-as<xx>-mysql5_fdw
{% endblock mysqlfdw %}