{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "sles-12" %}
{% block prerequisites %}
Setting up the repository is a one time task. If you have already set up your repository, you do not need to perform these steps.
```shell
# Install the repository configuration and enter your EDB repository
# credentials when prompted
zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo

# Install SUSEConnect to register the host with SUSE, allowing access 
# to SUSE repositories
zypper install SUSEConnect

# Install the MySQL community repository
wget https://dev.mysql.com/get/mysql80-community-release-sles12-5.noarch.rpm
rpm --import /etc/RPM-GPG-KEY-mysql-2022

# Enable the MySQL8 repository and disable the MySQL 5 repository
zypper modifyrepo -e mysql80-community
zypper modifyrepo -d mysql57-community

# Activate the required SUSE modules
SUSEConnect -p PackageHub/12.5/x86_64
SUSEConnect -p sle-sdk/12.5/x86_64

# Refresh the metadata
zypper refresh
```
{% endblock prerequisites %}