{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% block mysqlfdw %}
  # Install the MySQL community repository
  sudo wget https://dev.mysql.com/get/mysql80-community-release-sles12-5.noarch.rpm
  rpm --import /etc/RPM-GPG-KEY-mysql-2022

  # Enable the MySQL8 repository and disable the MySQL 5 repository
  sudo zypper modifyrepo -e mysql80-community
  sudo zypper modifyrepo -d mysql57-community
{% endblock mysqlfdw %}