{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "sles-15" %}
{% block prerequisites %}
Setting up the repository is a one time task. If you have already set up your repository, you do not need to perform these steps.
```shell
# Install the repository configuration and enter your EDB repository
# credentials when prompted
zypper addrepo https://zypp.enterprisedb.com/suse/edb-sles.repo

# Install SUSEConnect to register the host with SUSE, allowing access 
# to SUSE repositories
zypper install SUSEConnect

# Register the host with SUSE, allowing access to SUSE repositories
# Replace 'REGISTRATION_CODE' and 'EMAIL' with your SUSE 
# registration information
SUSEConnect -r 'REGISTRATION_CODE' -e 'EMAIL'

# Activate the required SUSE module
SUSEConnect -p PackageHub/15.3/x86_64

# Install the community MySQL repository
rpm -i https://dev.mysql.com/get/mysql80-community-release-sl15-5.noarch.rpm
rpm --import /etc/RPM-GPG-KEY-mysql-2022

# Refresh the metadata
zypper refresh
```
{% endblock prerequisites %}
