{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "ubuntu-18.04" %}
{% block mysqlfdw %}
- Address other prerequisites
  ```shell
  # Download the GPG key to your APT keyring directly using the apt-key utility: 
  sudo apt-key adv --keyserver pgp.mit.edu --recv-keys 3A79BD29

  # Install and configure the MySQL repo:
  # For MySQL 8:
  sudo echo "deb http://repo.mysql.com/apt/debian/bionic mysql-8.0" | sudo tee  /etc/apt/sources.list.d/mysql.list
  # For MySQL 5:
  sudo echo "deb http://repo.mysql.com/apt/debian/bionic mysql-5.7" | sudo tee  /etc/apt/sources.list.d/mysql.list
  
  # Get the most up-to-date package information from the MySQL APT repository:
  sudo apt-get update
  ```
{% endblock mysqlfdw %}
