{% extends "products/mysql-foreign-data-wrapper/base.njk" %}
{% set platformBaseTemplate = "ubuntu-18.04" %}
{% block mysqlfdw %}
- If there is `libmysqlclient-dev` already installed on your system, remove it by using the following command:
  ```shell
  apt-get remove  libmysqlclient-dev
  ```

- Enable the MySQL repo:
  For MySQL 8:
  ```shell
  echo "deb http://repo.mysql.com/apt/debian/buster mysql-8.0" | sudo tee  /etc/apt/sources.list.d/mysql.list
  ```
  For MySQL 5:
  ```shell
  echo "deb http://repo.mysql.com/apt/debian/buster mysql-5.7" | sudo tee  /etc/apt/sources.list.d/mysql.list
  ```
{% endblock mysqlfdw %}
