
{% extends "platformBase/x86_64_index.njk" %}
{% set productShortname="mysql" %}

{% block frontmatter %}
deployPath: mysql_data_adapter/{{ product.version }}/installing/linux_x86_64/index.mdx
redirects:
  - /mysql_data_adapter/latest/04_installing_the_mysql_data_adapter/x86_amd64/
{% endblock frontmatter %}
