name: Deploy Main to Netlify
on:
  push:
    branches:
      - main
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
        fetch-depth: 0 # fetch whole repo so git-restore-mtime can work
    - name: Update submodules
      run: git submodule update --init --remote
    - name: Adjust file watchers limit
      run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install yarn
      run: sudo npm -g install yarn
    - name: Yarn install
      run: yarn install --immutable
      env:
        NODE_ENV: ${{ secrets.NODE_ENV }}

    - name: Checking Gatsby cache
      id: gatsby-cache-build
      uses: actions/cache@v2
      with:
        path: |
          public
          .cache
        key: ${{ runner.os }}-gatsby-build-main-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-gatsby-build-main-

    - name: Pull sources
      run: yarn pull-sources --force-build
    - name: Fix mtimes
      run: yarn fix-mtimes --force
    - name: Gatsby build
      run: yarn build
      env:
        APP_ENV: production
        NODE_ENV: ${{ secrets.NODE_ENV }}
        NODE_OPTIONS: --max-old-space-size=4096
        ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
        ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
        ALGOLIA_INDEX_NAME: edb
        GTM_ID: GTM-5W8M67
        INDEX_ON_BUILD: true

    - name: Netlify deploy
      run: |
        sudo yarn global add netlify-cli
        netlify deploy --dir=public --prod
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_MAIN_SITE_ID }}
