name: Deploy Test to Netlify
on:
  push:
    branches:
      - eb-master-2
  # repository_dispatch:
  #   types: [advo-deploy-develop]
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Cancel previous runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2
      with:
        ref: eb-master-2
        fetch-depth: 0 # fetch whole repo so git-restore-mtime can work
    - name: Update submodules
      run: git submodule update --init --remote

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install yarn
      run: sudo npm -g install yarn
    - name: Yarn install
      run: yarn install --immutable
      env:
        NODE_ENV: ${{ secrets.NODE_ENV }}

    - name: Pull sources
      run: yarn pull-sources --force-build
    - name: Fix mtimes
      run: yarn fix-mtimes --force
    - name: Gatsby build
      run: yarn build
      env:
        NODE_ENV: ${{ secrets.NODE_ENV }}
        ALGOLIA_API_KEY:  ${{ secrets.ALGOLIA_API_KEY }}
        ALGOLIA_APP_ID:  ${{ secrets.ALGOLIA_APP_ID }}
        ALGOLIA_INDEX_NAME:  ${{ secrets.ALGOLIA_INDEX_NAME }}

    - name: Netlify deploy
      run: |
        sudo yarn global add netlify-cli
        netlify deploy --dir=public --prod
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_TEST_SITE_ID }}
